<div class="container-fluid">
        <div class="row">
            <div class="col-md-12 no-gap">
                <div class="banner">
                    <img class="img-responsive" src="assets/img/1bg-2000x900.png">
                </div>
            </div>
        </div>
    </div>
    <!-- header area end -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="contact-heading">
                    <h2 i18n="@@header-contact-us">CONTACT US</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <form class="contact-form" [formGroup]="contactForm" novalidate (ngSubmit)="onSubmit()" >
                    <div class="form-group">
                        <label for="name" i18n="@@field-name">Name</label>
                        <input type="text" class="form-control" i18n-placeholder="@@placeholder-name" id="name" formControlName="name" name="fullName" >
                    </div>
					<div class="error-div" *ngIf="name.errors && (name.dirty || name.touched)" >
						<p *ngIf="name.errors.required" i18n="@@valid-required">Field is required</p>
					</div>
                    <div class="form-group">
                        <label for="email" i18n="@@field-email">Email Address</label>
                        <input type="text" class="form-control" i18n-placeholder="@@placeholder-email" id="email" formControlName="email" name="email" >
                    </div>
					<div class="error-div" *ngIf="email.errors && (email.dirty || email.touched)" >
						<p *ngIf="email.errors.required" i18n="@@valid-required">Field is required</p>
						<p *ngIf="email.errors.validEmail" i18n="@@valid-email">Invalid Email</p>
					</div>
                    <div class="form-group">
                        <label for="number" i18n="@@field-phone-number">Phone Number</label>
                        <input type="text" class="form-control" i18n-placeholder="@@placeholder-phone-number" id="number" formControlName="contactNumber" name="contactNo" >
                    </div>
					<div class="error-div" *ngIf="contactNumber.errors && (contactNumber.dirty || contactNumber.touched)" >
						<p *ngIf="contactNumber.errors.required" i18n="@@valid-required">Field is required</p>
						<p *ngIf="contactNumber.errors.validMobile" i18n="@@valid-mobile">Invalid Contact No.</p>
					</div>
                    <div class="form-group">
                        <label for="message" i18n="@@field-message">Message</label>
                        <textarea class="form-control" i18n-placeholder="@@field-message" rows="5" id="Message" formControlName="message" name="message" ></textarea>
                    </div>
					<div class="error-div" *ngIf="message.errors && (message.dirty || message.touched)" >
						<p *ngIf="message.errors.required" i18n="@@valid-required">Field is required</p>
					</div>

                    <div class="alert alert-danger" *ngIf="errSuccesObj.isError" role="alert">{{errSuccesObj.errMsg}}</div>
                    <div class="alert alert-success" *ngIf="errSuccesObj.isSuccess" role="alert">{{errSuccesObj.succMsg}}</div>

                    <button type="submit" class="btn btn-default contact-button" i18n="@@btn-submit">Submit</button>
                </form>
            </div>
            <div class="col-md-5">
                <div class="contact-detail">
                    <h6>Registered Office Address</h6>
                    <p>Plot No. 42, R.R. Complex, Shop No. 31, First Floor, India Gate, Tonk Road,Jaipur-302022 (Raj.) India</p>
                    <br>
                    <h6>Branch Office Address</h6>
                    <p>D V BABBA PROJECT PVT. LTD. <br> Behind of jaika Resturant, Gangapur Road, Lalsot District Dausa, <br> Rajasthan, Pincode-303503</p>
					<h6>BABBA BAZRI BHAWAN</h6>
					<p>Near BSNL Office, Shivdaspura, Th. Chakshu, District Jaipur<br/>Rajathan, Pincode-303903</p>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3" *ngFor="let add of mapAddresses" (click)="setAddress(add)" style="cursor: pointer;">
                <div class="contact-detail-box">
                    <p>{{add.street}}</p>
                    <p *ngIf="add.mobile">Phone Number : {{add.mobile}}</p>
                </div>
            </div>
        </div>    

    </div>
    <br /><br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 no-gap">
                <agm-map #gm  [latitude]="selectedAddress.lat" [longitude]="selectedAddress.lng" [zoom]="15" [scrollwheel]="false">
                    <agm-marker [latitude]="selectedAddress.lat" [longitude]="selectedAddress.lng" >
                        <agm-info-window [disableAutoPan]="false"  [isOpen]="true"  #infoWindow>
                            <div style="width:250px">{{selectedAddress.street}}</div>
                            <div *ngIf="selectedAddress.mobile"><br />
                                Mob. : {{selectedAddress.mobile}}
                            </div>
                           <!--  <div>
                                <a (click)="onClickInfoView()" class="btn btn-attention pull-right">Daje <i class="fa fa-angle-double-right"></i></a>
                            </div> -->
                        </agm-info-window>
                    </agm-marker>
                </agm-map>

                <!-- <div class="contact-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3569.141375895332!2d76.33970931541631!3d26.547725782097036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396dfd9fb27ea077%3A0x6c6772258d379c83!2sD.+V.+BABBA+PROJECT+PRIVATE+LIMITED!5e0!3m2!1sen!2sin!4v1533557491227" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div> -->
            </div>
        </div>
    </div>