<div class="modal wow slideInRight" id="otp-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header otp-modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body otp-modal-body">
				<p i18n="@@fp-2-otp-text">Enter the OTP</p>
				<br/>
				<form noValidate [formGroup]="otpForm" >
					<input class="otp" placeholder="Please Enter OTP" i18n-placeholder="@@fp-2-otp-text" type="text" name="otp" formControlName="otp" />
					<div *ngIf="!mode" class="Resend-text" >
						<a (click)="resendOtp('','webuserSignup')" i18n="@@fp-2-resend-otp">Resend OTP</a>
					</div>
					<br/>
					<div class="alert alert-danger" *ngIf="errSuccObj.error" role="alert">{{errSuccObj.error}}</div>
					<div class="alert alert-success" *ngIf="errSuccObj.success" role="alert">{{errSuccObj.success}}</div>
					<div class="otp-button" style="margin-top:20px;" >
						<button type="button" class="btn btn-primary" *ngIf="!mode" [disabled]="otpForm.invalid" (click)="verifyOtp()" i18n="@@fp-2-btn-send">Send</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>