<div class="modal slide" id="reset-otp-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header otp-modal-header">
				<h4 class="modal-title" i18n="@@fp-2-reset-password">Reset Password</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body otp-modal-body">
				<p i18n="@@fp-2-otp-text">Enter the OTP</p>
				<br/>
				<form (submit)="checkResetOtpWebUser(resOtpForm)" #resOtpForm="ngForm">
					<input class="otp" placeholder="Please Enter OTP" [(ngModel)]="otp" [required]="true"  type="text" name="otp" #resOtp="ngModel"/>
					<!-- <div *ngIf="!mode" class="Resend-text" > -->
						<a href="javascript:;" (click)="resendOtp('','webuserReset')" i18n="@@fp-2-resend-otp">Resend OTP</a>
					<!-- </div> -->
					<br/>
					<div class="error-div" *ngIf="resOtpForm.submitted && resOtp.errors?.required" i18n="@@valid-otp">
		                Otp is required
		            </div><br />
					<div class="alert alert-danger" *ngIf="errSuccObj.error" role="alert">{{errSuccObj.error}}</div>
					<div class="alert alert-success" *ngIf="errSuccObj.success" role="alert">{{errSuccObj.success}}</div>
					<div class="otp-button" style="margin-top:20px;" >
						<button type="submit"  data-loading-text="send..." id="resOtpBtn" class="btn btn-primary">Send</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>