#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
.row{
	margin-top : 30px;
}
.fixed-height{
	height : 400px;
	overflow-y : scroll;
	overflow-x : hidden;
	border : 1px solid lightgrey;
	padding : 10px;
	color : grey;
}

.fixed-height2{
	overflow-x : hidden;
	padding : 10px;
	color : grey;
	width : 90%;
}

img{
	width : 200px;
	height : 200px;
	border : 1px solid grey;
}

.form-container h5{
	background-color: #ffaa01;
    padding: 10px;
    margin-bottom: 0px;
    width: 100%;
}


::-webkit-scrollbar {
    width: 10px;
}
.fixed-height1::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px transparent;
}
.fixed-height1::-webkit-scrollbar-track:hover{
    box-shadow: inset 0 0 5px lightgrey;
}
.fixed-height1::-webkit-scrollbar-thumb{
    background: lightgrey;
	-webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
   -webkit-animation: fadein 2s; 
    -moz-animation: fadein 2s; 
    -ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
}
.fixed-height::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px transparent;
}
.fixed-height::-webkit-scrollbar-track:hover{
    box-shadow: inset 0 0 5px lightgrey;
}
.fixed-height::-webkit-scrollbar-thumb{
    background: lightgrey;
	-webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
   -webkit-animation: fadein 2s; 
    -moz-animation: fadein 2s; 
    -ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
}
.fixed-height1{
	height: 600px;
	overflow-y : scroll;
	overflow-x : hidden;
	border: 1px solid #d5d1d1;
	box-shadow: 1px 1px 1px 1px #d5d1d1;
	color : grey;
}
.listing{
	padding: 10px;
    margin: 0;
	/* box-shadow: 1px 1px 1px lightgrey; */
}
.border{
	border-bottom: 1px solid lightgrey;
}
.list-active {
    border-bottom: 2px solid #ffaa01 !important;
}
#loading-jobs{
	width: 3%;
    position: absolute;
    left: 49%;
    top: 45%;
    height: 30px;
	border : none !important;
}
.list-inline li{
	text-align : center;
    font-size: large;
    font-weight: 600;
	cursor : pointer !important;
}

.list-inline li:hover{
	opacity : 0.7;
}

.data-cont{
	border:1px solid lightgrey;
	margin : 10px;
	width:100%;
	padding : 10px 0 0 30px;
}

a{
	color:grey;
	cursor:pointer !important;	
	opacity : 0.7;
}

.row-cont{
	width: 100%;
    padding: 10px;
    margin-left: 5px;
    box-shadow: 3px 3px 3px 3px lightgrey;
}

.active-row{
	background-color: grey !important;
    color: white !important;
	box-shadow: 1px 1px 1px 1px #dee2e6;
}