<div>
	<div class="container" >
		<div class="row" >
			<div class="col-md-12">
				<table id="customers">
					<tr>
						<td i18n="@@field-name">Name</td>
						<td>{{myInfo.firstName}}&nbsp;{{myInfo.lastName}}</td>
					</tr>  
					<tr>
						<td i18n="@@field-email">Email</td>
						<td>{{myInfo.email}}</td>
					</tr>  
					<tr>
						<td i18n="@@field-mobile">Mobile</td>
						<td>{{myInfo.mobile}}</td>
					</tr> 
					<tr *ngIf="myInfo.realm === 'emitra'" >
						<td i18n="@@dealer-postal-address-placeholder">Permanent Address</td>
						<td>{{myInfo.permanentAddress.value}}&nbsp;{{myInfo.permanentAddress.tehsil}}&nbsp;{{myInfo.permanentAddress.city}}&nbsp;{{myInfo.permanentAddress.district}}&nbsp;{{myInfo.permanentAddress.district}}</td>
					</tr>
					<tr *ngIf="myInfo.realm === 'emitra'" >
						<td i18n="@@field-shop-address">Shop Address</td>
						<td>{{myInfo.shopAddress.value1}}&nbsp;{{myInfo.shopAddress.tehsil1}}&nbsp;{{myInfo.shopAddress.city1}}&nbsp;{{myInfo.shopAddress.district1}}&nbsp;{{myInfo.shopAddress.state1}}</td>
					</tr>
				</table>
			</div>
		</div>
		
		<div class="row form-container" *ngIf="myInfo.realm === 'webuser' && dealerships.length > 0" >
			<h5>DealerShip Form</h5>
			<div class="col-md-12 fixed-height" id="dealer-cont"  >
				<div *ngFor="let data of dealerships;let i = index;" >
					<table style="width: 100%; line-height: 40px;">
						<tr colspan="3">
							<td colspan="3"><img src="assets/img/latterhead.png" style="width: 100%;"></td>
						</tr>
						<tr>
							<td>
								<h6 style="font-size:16px; margin:0px; color: #808080;">
									Email
								</h6> 
							</td>
							<td>{{data.email}}</td>
							<td rowspan="5"><img [src]="data.shopImg" style="width: 150px;"></td>
						</tr>
						<tr>
							<td>
								<h6 style="font-size:16px; margin:0px; color: #808080;">
									Name/Firm Name 
								</h6>
							</td>
							<td>{{data.nameOrFirm}} </td>
						</tr>
						<tr>
							<td>
								<h6 style="font-size:16px; margin:0px; color: #808080;">
									Father Name
								</h6> 
							</td>
							<td>{{data.fatherName}} </td>
						</tr>
						<tr>
							<td>
								<h6 style="font-size:16px; margin:0px; color: #808080;">
									Phone Number
								</h6> 
							</td>
							<td>{{data.contactNo}} </td>
						</tr>
						<tr>
							<td>
								<h6 style="font-size:16px; margin:0px; color: #808080;">
									Postal Address
								</h6> 
							</td>
							<td>{{data.postalAddress.value}}</td>
						</tr>
						<tr>
							<td>
								<h6 style="font-size:16px; margin:0px; color: #808080;">
									Tehsil
								</h6> 
							</td>
							<td>{{data.postalAddress.tehsil}}</td>
							<!-- <td rowspan="3"><img src="img/sign.png" style="width: 150px;"></td> -->
						</tr>
						<tr>
							<td>
								<h6 style="font-size:16px; margin:0px; color: #808080;">
									City
								</h6>
							</td>
							<td>{{data.postalAddress.city}}</td>
						</tr>
						<tr>
							<td>
								<h6 style="font-size:16px; margin:0px; color: #808080;">
									District:
								</h6> 
							</td>
							<td>{{data.postalAddress.district}}</td>
						</tr>
						<tr>
							<td>
								<h6 style="font-size:16px; margin:0px; color: #808080;">
									State 
								</h6>
							</td>
							<td>{{data.postalAddress.state}}</td>
						</tr>
						<tr>
							<td>
								<h6 style="font-size:16px; margin:0px; color: #808080;">
									Shop Address
								</h6> 
							</td>
							<td>{{data.shopAddress.value}}</td>
						</tr>
						<tr>
							<td>
								<h6 style="font-size:16px; margin:0px; color: #808080;">
									Tehsil
								</h6>
							</td>
							<td>{{data.shopAddress.tehsil}}</td>
						</tr>
						<tr>
							<td>
								<h6 style="font-size:16px; margin:0px; color: #808080;">
									City
								</h6> 
							</td>
							<td>{{data.shopAddress.city}}</td>
						</tr>
						<tr>
							<td>
								<h6 style="font-size:16px; margin:0px; color: #808080;">
									State
								</h6> 
							</td>
							<td>{{data.shopAddress.state}}</td>
						</tr>
						<tr>
							<td>
								<h6 style="font-size:16px; margin:0px; color: #808080;">
									Current Bussiness Turnover
								</h6> 
							</td>
							<td>{{data.turnover  | currency:'INR' }}</td>
						</tr>
						<tr>
							<td>
								<h6 style="font-size:16px; margin:0px; color: #808080;">
									Other Detail
								</h6> 
							</td>
							<td>{{data.otherDetail}}</td>
						</tr>
						<tr>
							<td>
								<h6 style="font-size:16px; margin:0px; color: #808080;">
									Current Bussiness
								</h6> 
							</td>
							<td>
								<ol type="1">
									<li *ngFor="let buss of data.bussType">{{buss | titlecase }}</li>
								</ol>
							</td>
						</tr>
						<tr>
							<td>
								<h6 style="font-size:16px; margin:0px; color: #808080;">
									Gst No.
								</h6> 
							</td>
							<td>{{data.gstNo}}</td>
						</tr>
						<tr>
							<td>
								<h6 style="font-size:16px; margin:0px; color: #808080;">
									Investment Amount
								</h6> 
							</td>
							<td>{{data.investAmount | currency:'INR'}}</td>
						</tr>
					</table>					

					<!-- <h6><b>Email</b></h6>
					<p>{{data.email}}</p>
					<h6><b>Name/Firm Name</b></h6>
					<p>{{data.nameOrFirm}}</p>
					<h6><b>Father Name</b></h6>
					<p>{{data.fatherName}}</p>
					<h6><b>Phone Number</b></h6>
					<p>{{data.contactNo}}</p>
					<h6><b>Postal Address</b></h6>
					<p>{{data.postalAddress.value}}</p>
					<h6><b>Tehsil</b></h6>
					<p>{{data.postalAddress.tehsil}}</p>
					<h6><b>City</b></h6>
					<p>{{data.postalAddress.city}}</p>
					<h6><b>District</b></h6>
					<p>{{data.postalAddress.district}}</p>
					<h6><b>State</b></h6>
					<p>{{data.postalAddress.state}}</p>
					<h6><b>Shop Address</b></h6>
					<p>{{data.shopAddress.value}}</p>					
					<h6><b>Tehsil</b></h6>
					<p>{{data.shopAddress.tehsil}}</p>
					<h6><b>City</b></h6>
					<p>{{data.shopAddress.city}}</p>				
					<h6><b>State</b></h6>
					<p>{{data.shopAddress.state}}</p>
					<h6><b>Current Bussiness Turnover</b></h6>
					<p>{{data.turnover  | currency:'INR' }}</p>
					<h6><b>Other Detail</b></h6>
					<p>{{data.otherDetail}}</p>
					<h6><b>Current Bussiness</b></h6>
					<ol>
						<li *ngFor="let buss of data.bussType" >{{buss | titlecase }}</li>
					</ol>
					<h6><b>Gst No.</b></h6>
					<p>{{data.gstNo}}</p>
					<h6><b>Investment Amount</b></h6>
					<p>{{data.investAmount | currency:'INR'}}</p>
					<h6><b>Shop Picture</b></h6>
					<img [src]="data.shopImg" /> -->
					<br/>
					<br/>
					<button (click)="print('dealer-cont')" type="button" class="btn btn-primary" >Print</button>
				</div>
			</div>
		</div>
		<div class="row form-container" id="employ-cont" *ngIf="myInfo.realm === 'webuser' && employments.length > 0" >
			<h5>Employment Form</h5>
			<div class="col-md-12 fixed-height" >
				<div *ngFor="let data of employments;let i = index;" >
					<table style="width: 100%; line-height: 40px;">
						<tr colspan="3">
							<td colspan="3"><img src="assets/img/latterhead.png" style="width: 100%;"></td>
						</tr>
					    <tr>
					        <td>
					            <h6 style="font-size:16px; margin:0px; color: #808080;">Email</h6> </td>
					        <td>{{data.email}} </td>
					        <td rowspan="5"><img [src]="data.profilePic" style="width: 150px;"></td>
					    </tr>
					    <tr>
					        <td>
					            <h6 style="font-size:16px; margin:0px; color: #808080;">
					            	Name
					            </h6>
					        </td>
					        <td>{{data.name}} </td>
					    </tr>
					    <tr>
					        <td>
					            <h6 style="font-size:16px; margin:0px; color: #808080;">
					            	Applied For
					            </h6> 
					        </td>
					        <td>{{data.post}} </td>
					    </tr>
					    <tr>
					        <td>
					            <h6 style="font-size:16px; margin:0px; color: #808080;">
					            	Father Name
					            </h6> 
					        </td>
					        <td>{{data.fatherName}}</td>
					    </tr>
					    <tr>
					        <td>
					            <h6 style="font-size:16px; margin:0px; color: #808080;">
					            	Phone Number
					            </h6> 
					        </td>
					        <td>{{data.contactNo}}</td>
					    </tr>
					    <tr>
					        <td>
					            <h6 style="font-size:16px; margin:0px; color: #808080;">
					            	DOB
					            </h6> 
					        </td>
					        <td>{{data.DOB}}</td>
					        <td rowspan="8"><img [src]="data.signImg" style="width: 150px;"></td>
					    </tr>
					    <tr>
					        <td>
					            <h6 style="font-size:16px; margin:0px; color: #808080;">
					            	Permanent Address
					            </h6>
					        </td>
					        <td>{{data.perAddress.value}}</td>
					    </tr>
					    <tr>
					        <td>
					            <h6 style="font-size:16px; margin:0px; color: #808080;">
					            	Tehsil
					            </h6> 
					        </td>
					        <td>{{data.perAddress.tehsil}}</td>
					    </tr>
					    <tr>
					        <td>
					            <h6 style="font-size:16px; margin:0px; color: #808080;">
					            	City 
					            </h6>
					        </td>
					        <td>{{data.perAddress.city}}</td>
					    </tr>
					    <tr>
					        <td>
					            <h6 style="font-size:16px; margin:0px; color: #808080;">
					            	District
					            </h6> 
					        </td>
					        <td>{{data.perAddress.district}}</td>
					    </tr>
					    <tr>
					        <td>
					            <h6 style="font-size:16px; margin:0px; color: #808080;">
					            	State
					            </h6>
					        </td>
					        <td>{{data.perAddress.state}}</td>
					    </tr>
					    <tr>
					        <td>
					            <h6 style="font-size:16px; margin:0px; color: #808080;">
					            	Willing to work at same address
					            </h6> 
					        </td>
					        <td>{{data.jobAtAddress}}</td>
					    </tr>
					    <tr>
					        <td>
					            <h6 style="font-size:16px; margin:0px; color: #808080;">
					            	Education Qualification
					            </h6> 
					        </td>
					        <td>{{data.education}}</td>
					    </tr>
					    <tr>
					        <td>
					            <h6 style="font-size:16px; margin:0px; color: #808080;">
					            	10th Percentage
					            </h6> 
					        </td>
					        <td>{{data.secPerc}}</td>
					    </tr>
					    <tr>
					        <td>
					            <h6 style="font-size:16px; margin:0px; color: #808080;">
					            	12th Percentage
					            </h6> 
					        </td>
					        <td>{{data.senSecPerc}}</td>
					    </tr>
					    <tr>
					        <td>
					            <h6 style="font-size:16px; margin:0px; color: #808080;">
					            	Post Graduation Percentage
					            </h6> 
					        </td>
					        <td>{{data.postGradPerc}}</td>
					    </tr>
					    <tr>
					        <td>
					            <h6 style="font-size:16px; margin:0px; color: #808080;">
					            	Work Experience
					            </h6> 
					        </td>
					        <td>{{data.workExp}}</td>
					    </tr>
					   <!--  <tr>
					        <td>
					            <h6 style="font-size:16px; margin:0px; color: #808080;">Investment Amount</h6> </td>
					        <td>4544</td>
					    </tr> -->
					</table>

					<!-- <h6><b>Email</b></h6>
					<p>{{data.email}}</p>
					<h6><b>Name</b></h6>
					<p>{{data.name}}</p>
					<h6><b>Applied For</b></h6>
					<p>{{data.post}}</p>
					<h6><b>Father Name</b></h6>
					<p>{{data.fatherName}}</p>
					<h6><b>Phone Number</b></h6>
					<p>{{data.contactNo}}</p>
					<h6><b>DOB</b></h6>
					<p>{{data.DOB}}</p>
					<h6><b>Permanent Address</b></h6>
					<p>{{data.perAddress.value}}</p>
					<h6><b>Tehsil</b></h6>
					<p>{{data.perAddress.tehsil}}</p>
					<h6><b>City</b></h6>
					<p>{{data.perAddress.city}}</p>
					<h6><b>District</b></h6>
					<p>{{data.perAddress.district}}</p>
					<h6><b>State</b></h6>
					<p>{{data.perAddress.state}}</p>
					<h6><b>Willing to work at same address</b></h6>
					<p>{{data.jobAtAddress}}</p>					
					<h6><b>Education Qualification</b></h6>
					<p>{{data.education}}</p>
					<h6><b>10th Percentage</b></h6>
					<p>{{data.secPerc}}</p>				
					<h6><b>12th Percentage</b></h6>
					<p>{{data.senSecPerc}}</p>
					<h6><b>Post Graduation Percentage</b></h6>
					<p>{{data.postGradPerc}}</p>
					
					<h6><b>Work Experience</b></h6>
					<p>{{data.workExp}}</p>
					<h6><b>Signature</b></h6>
					<img [src]="data.signImg" />
					<br/>
					<h6><b>Photo</b></h6>
					<img [src]="data.profilePic" />
					<br/>
					<br/> -->
					<button (click)="print('employ-cont')" type="button" class="btn btn-primary" >Print</button>
				</div>
			</div>
		</div>
		<div class="row form-container" id="vehicle-cont" *ngIf="myInfo.realm === 'webuser' && vehicles.length > 0" >
			<h5>Vehicle Form</h5>
			<div class="col-md-12 fixed-height">
				<div *ngFor="let data of vehicles;let i = index;" >
					<table style="width: 100%; line-height: 40px;">
						<tr colspan="3">
							<td colspan="3"><img src="assets/img/latterhead.png" style="width: 100%;"></td>
						</tr>
					    <tr>
					        <td>
					            <h6 style="font-size:16px; margin:0px; color: #808080;">Email</h6> </td>
					        <td>{{data.email}} </td>
					        <td rowspan="5"><img [src]="data.vehicleImg" style="width: 150px;"></td>
					    </tr>
					    <tr>
					        <td>
					            <h6 style="font-size:16px; margin:0px; color: #808080;">
					            	Owner Name /Firm Name
					            </h6>
					        </td>
					        <td>{{data.ownerOrFirm}} </td>
					    </tr>
					    <tr>
					        <td>
					            <h6 style="font-size:16px; margin:0px; color: #808080;">
					            	Father Name
					            </h6> 
					        </td>
					        <td>{{data.fatherName}}</td>
					    </tr>
					    <tr>
					        <td>
					            <h6 style="font-size:16px; margin:0px; color: #808080;">
					            	Phone Number
					            </h6> 
					        </td>
					        <td>{{data.contactNo}}</td>
					    </tr>
					    <tr>
					        <td>
					            <h6 style="font-size:16px; margin:0px; color: #808080;">
					            	Tehsil
					            </h6> 
					        </td>
					        <td>{{data.tehsil}}</td>
					    </tr>
					    <tr>
					        <td>
					            <h6 style="font-size:16px; margin:0px; color: #808080;">
					            	District
					            </h6> 
					        </td>
					        <td>{{data.district}}</td>
					        <td rowspan="8"><img [src]="data.vehicleImg" style="width: 150px;"></td>
					    </tr>
					    <tr>
					        <td>
					            <h6 style="font-size:16px; margin:0px; color: #808080;">
					            	State
					            </h6>
					        </td>
					        <td>{{data.state}}</td>
					    </tr>
					    <tr>
					        <td>
					            <h6 style="font-size:16px; margin:0px; color: #808080;">
					            	Type of Vehicle
					            </h6> 
					        </td>
					        <td>{{data.vehicleType}}</td>
					    </tr>
					    <tr>
					        <td>
					            <h6 style="font-size:16px; margin:0px; color: #808080;">
					            	Model No.
					            </h6>
					        </td>
					        <td>{{data.model}}</td>
					    </tr>
					    <tr>
					        <td>
					            <h6 style="font-size:16px; margin:0px; color: #808080;">
					            	RC No.
					            </h6> 
					        </td>
					        <td>{{data.rcNo}}</td>
					    </tr>
					    <tr>
					        <td>
					            <h6 style="font-size:16px; margin:0px; color: #808080;">
					            	Whatsapp No.
					            </h6>
					        </td>
					        <td>{{data.whatsAppNo}}</td>
					    </tr>
					    <tr>
					        <td>
					            <h6 style="font-size:16px; margin:0px; color: #808080;">
					            	Purchasing Date
					            </h6> 
					        </td>
					        <td>{{data.date}}</td>
					    </tr>
					    
					   <!--  <tr>
					        <td>
					            <h6 style="font-size:16px; margin:0px; color: #808080;">Investment Amount</h6> </td>
					        <td>4544</td>
					    </tr> -->
					</table>


					<!-- <h6><b>Email</b></h6>
					<p>{{data.email}}</p>
					<h6><b>Owner Name /Firm Name</b></h6>
					<p>{{data.ownerOrFirm}}</p>
					<h6><b>Father Name</b></h6>
					<p>{{data.fatherName}}</p>
					<h6><b>Phone Number</b></h6>
					<p>{{data.contactNo}}</p>
					<h6><b>Tehsil</b></h6>
					<p>{{data.tehsil}}</p>
					<h6><b>District</b></h6>
					<p>{{data.district}}</p>
					<h6><b>State</b></h6>
					<p>{{data.state}}</p>
					<h6><b>Type of Vehicle</b></h6>
					<p>{{data.vehicleType}}</p>					
					<h6><b>Model No.</b></h6>
					<p>{{data.model}}</p>
					<h6><b>RC No.</b></h6>
					<p>{{data.rcNo}}</p>				
					<h6><b>Whatsapp No.</b></h6>
					<p>{{data.whatsAppNo}}</p>
					<h6><b>Purchasing Date</b></h6>
					<p>{{data.date}}</p>
					
					<h6><b>Signature</b></h6>
					<img [src]="data.signImg" id="myImg" />
					<br/>
					<h6><b>Vehicle</b></h6>
					<img [src]="data.vehicleImg" id="myImg" /> -->
					<br/>
					<br/>
					<button (click)="print('vehicle-cont')" type="button" class="btn btn-primary" >Print</button>
				</div>
			</div>
		</div>
		
		<div class="row" *ngIf="myInfo.realm === 'emitra'" >
			<div class="col-md-12">
				<div id="sec12" class="deshboard-detail-sec" >
					<div class="inner-list">
						<div class="row no-row ongoing-job-border" >
							<ul class="list-inline col-md-12" style="display: inline-flex;margin-bottom:0px;" >
								<li class="col-md-4 col-sm-4 col-lg-4 col-xs-12" id="list4" [ngClass]="{'list-active' : formType === 'dealership' }" (click)="formType = 'dealership';getAllRequest('dealership')" >
									<a i18n="@@field-dealership">Dealership</a>
								</li>
								<li class="col-md-4 col-sm-4 col-lg-4 col-xs-12" id="list5" [ngClass]="{'list-active' : formType === 'employment' }" (click)="formType = 'employment';getAllRequest('employment')"  >
									<a i18n="@@field-employment">Employment</a>
								</li>
								<li class="col-md-4 col-sm-4 col-lg-4 col-xs-12" id="list6" [ngClass]="{'list-active' : formType === 'vehicle' }" (click)="formType = 'vehicle';getAllRequest('vehicle')" >
									<a i18n="@@field-vehicle">Vehicle</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="inner-detail-text" id="detail4" *ngIf="formType === 'dealership'">
						<div class="col-md-12 fixed-height1" *ngIf="loadingForm" >
							<img src="assets/images/Loading_apple.gif" alt="loading screen" id="loading-jobs" />
						</div>
						<div class="col-md-12 fixed-height1" *ngIf="!loadingForm && dealerships.length === 0" >
							<h5 class="greyColor" ><b>Record is not available</b></h5>
						</div>
						
						<div class="col-md-12 fixed-height1" *ngIf="dealerships.length > 0 && !loadingForm" >
							<div *ngFor="let data of dealerships;let i = index;" >
								<div class="row row-cont" style="width:100%" >
									<div class="col-md-2" >{{i+1}}.</div>
									<div class="col-md-4" >{{data.email}}</div>
									<div class="col-md-4" >{{data.contactNo}}</div>
									<div class="col-md-2" ><a data-toggle="collapse" data-target="#dealer{{i}}" (click)="checkCont('#dealer'+i)" ><b>Show</b></a></div>
								</div>
								<div class="collapse fixed-height2" id="dealer{{i}}" > <!-- data-cont -->

									<table style="width: 100%; line-height: 40px;">
										<tr colspan="3">
											<td colspan="3"><img src="assets/img/latterhead.png" style="width: 100%;"></td>
										</tr>
										<tr>
											<td>
												<h6 style="font-size:16px; margin:0px; color: #808080;">
													Email
												</h6> 
											</td>
											<td>{{data.email}}</td>
											<td rowspan="5"><img [src]="data.shopImg" style="width: 150px;"></td>
										</tr>
										<tr>
											<td>
												<h6 style="font-size:16px; margin:0px; color: #808080;">
													Name/Firm Name 
												</h6>
											</td>
											<td>{{data.nameOrFirm}} </td>
										</tr>
										<tr>
											<td>
												<h6 style="font-size:16px; margin:0px; color: #808080;">
													Father Name
												</h6> 
											</td>
											<td>{{data.fatherName}} </td>
										</tr>
										<tr>
											<td>
												<h6 style="font-size:16px; margin:0px; color: #808080;">
													Phone Number
												</h6> 
											</td>
											<td>{{data.contactNo}} </td>
										</tr>
										<tr>
											<td>
												<h6 style="font-size:16px; margin:0px; color: #808080;">
													Postal Address
												</h6> 
											</td>
											<td>{{data.postalAddress.value}}</td>
										</tr>
										<tr>
											<td>
												<h6 style="font-size:16px; margin:0px; color: #808080;">
													Tehsil
												</h6> 
											</td>
											<td>{{data.postalAddress.tehsil}}</td>
											<!-- <td rowspan="3"><img src="img/sign.png" style="width: 150px;"></td> -->
										</tr>
										<tr>
											<td>
												<h6 style="font-size:16px; margin:0px; color: #808080;">
													City
												</h6>
											</td>
											<td>{{data.postalAddress.city}}</td>
										</tr>
										<tr>
											<td>
												<h6 style="font-size:16px; margin:0px; color: #808080;">
													District:
												</h6> 
											</td>
											<td>{{data.postalAddress.district}}</td>
										</tr>
										<tr>
											<td>
												<h6 style="font-size:16px; margin:0px; color: #808080;">
													State 
												</h6>
											</td>
											<td>{{data.postalAddress.state}}</td>
										</tr>
										<tr>
											<td>
												<h6 style="font-size:16px; margin:0px; color: #808080;">
													Shop Address
												</h6> 
											</td>
											<td>{{data.shopAddress.value}}</td>
										</tr>
										<tr>
											<td>
												<h6 style="font-size:16px; margin:0px; color: #808080;">
													Tehsil
												</h6>
											</td>
											<td>{{data.shopAddress.tehsil}}</td>
										</tr>
										<tr>
											<td>
												<h6 style="font-size:16px; margin:0px; color: #808080;">
													City
												</h6> 
											</td>
											<td>{{data.shopAddress.city}}</td>
										</tr>
										<tr>
											<td>
												<h6 style="font-size:16px; margin:0px; color: #808080;">
													State
												</h6> 
											</td>
											<td>{{data.shopAddress.state}}</td>
										</tr>
										<tr>
											<td>
												<h6 style="font-size:16px; margin:0px; color: #808080;">
													Current Bussiness Turnover
												</h6> 
											</td>
											<td>{{data.turnover  | currency:'INR' }}</td>
										</tr>
										<tr>
											<td>
												<h6 style="font-size:16px; margin:0px; color: #808080;">
													Other Detail
												</h6> 
											</td>
											<td>{{data.otherDetail}}</td>
										</tr>
										<tr>
											<td>
												<h6 style="font-size:16px; margin:0px; color: #808080;">
													Current Bussiness
												</h6> 
											</td>
											<td>
												<ol type="1">
													<li *ngFor="let buss of data.bussType">{{buss | titlecase }}</li>
												</ol>
											</td>
										</tr>
										<tr>
											<td>
												<h6 style="font-size:16px; margin:0px; color: #808080;">
													Gst No.
												</h6> 
											</td>
											<td>{{data.gstNo}}</td>
										</tr>
										<tr>
											<td>
												<h6 style="font-size:16px; margin:0px; color: #808080;">
													Investment Amount
												</h6> 
											</td>
											<td>{{data.investAmount | currency:'INR'}}</td>
										</tr>
									</table>	
									<br/>
									<br/>
									<a (click)="print('dealer'+i)" ><b>Print</b></a>
									&nbsp;&nbsp;&nbsp;
									<a (click)="checkCont('#dealer'+i)" ><b>Hide</b></a>
									<!-- <h6><b>Email</b></h6>
									<p>{{data.email}}</p>
									<h6><b>Name/Firm Name</b></h6>
									<p>{{data.nameOrFirm}}</p>
									<h6><b>Father Name</b></h6>
									<p>{{data.fatherName}}</p>
									<h6><b>Phone Number</b></h6>
									<p>{{data.contactNo}}</p>
									<h6><b>Postal Address</b></h6>
									<p>{{data.postalAddress.value}}</p>
									<h6><b>Tehsil</b></h6>
									<p>{{data.postalAddress.tehsil}}</p>
									<h6><b>City</b></h6>
									<p>{{data.postalAddress.city}}</p>
									<h6><b>District</b></h6>
									<p>{{data.postalAddress.district}}</p>
									<h6><b>State</b></h6>
									<p>{{data.postalAddress.state}}</p>
									<h6><b>Shop Address</b></h6>
									<p>{{data.shopAddress.value}}</p>					
									<h6><b>Tehsil</b></h6>
									<p>{{data.shopAddress.tehsil}}</p>
									<h6><b>City</b></h6>
									<p>{{data.shopAddress.city}}</p>				
									<h6><b>State</b></h6>
									<p>{{data.shopAddress.state}}</p>
									<h6><b>Current Bussiness Turnover</b></h6>
									<p>{{data.turnover  | currency:'INR' }}</p>
									<h6><b>Other Detail</b></h6>
									<p>{{data.otherDetail}}</p>
									<h6><b>Current Bussiness</b></h6>
									<ol>
										<li *ngFor="let buss of data.bussType" >{{buss | titlecase }}</li>
									</ol>
									<h6><b>Gst No.</b></h6>
									<p>{{data.gstNo}}</p>
									<h6><b>Investment Amount</b></h6>
									<p>{{data.investAmount | currency:'INR'}}</p>
									<h6><b>Shop Picture</b></h6>
									<img [src]="data.shopImg" />
									<br/>
									<br/>
									<a (click)="print('dealer'+i)" ><b>Print</b></a>
									&nbsp;&nbsp;&nbsp;
									<a (click)="checkCont('#dealer'+i)" ><b>Hide</b></a> -->
								</div>
							</div>
						</div>
					</div>
					
					<div class="inner-detail-text" id="detail4" *ngIf="formType === 'employment'">
						<div class="col-md-12 fixed-height1" *ngIf="loadingForm" >
							<img src="assets/images/Loading_apple.gif" alt="loading screen" id="loading-jobs" />
						</div>
						<div class="col-md-12 fixed-height1" *ngIf="!loadingForm && employments.length === 0" >
							<h5 class="greyColor" ><b>Record is not available</b></h5>
						</div>
						
						<div class="col-md-12 fixed-height1" *ngIf="employments.length > 0 && !loadingForm" >
							<div *ngFor="let data of employments;let i = index;" >
								<div class="row row-cont" style="width:100%" >
									<div class="col-md-2" >{{i+1}}.</div>
									<div class="col-md-4" >{{data.email}}</div>
									<div class="col-md-4" >{{data.contactNo}}</div>
									<div class="col-md-2" ><a data-toggle="collapse" data-target="#employ{{i}}" (click)="checkCont('#employ'+i)" ><b>Show</b></a></div>
								</div>
								<div class="collapse fixed-height2" id="employ{{i}}" > <!-- data-cont -->

									<table style="width: 100%; line-height: 40px;">
										<tr colspan="3">
											<td colspan="3"><img src="assets/img/latterhead.png" style="width: 100%;"></td>
										</tr>
									    <tr>
									        <td>
									            <h6 style="font-size:16px; margin:0px; color: #808080;">Email</h6> </td>
									        <td>{{data.email}} </td>
									        <td rowspan="5"><img [src]="data.profilePic" style="width: 150px;"></td>
									    </tr>
									    <tr>
									        <td>
									            <h6 style="font-size:16px; margin:0px; color: #808080;">
									            	Name
									            </h6>
									        </td>
									        <td>{{data.name}} </td>
									    </tr>
									    <tr>
									        <td>
									            <h6 style="font-size:16px; margin:0px; color: #808080;">
									            	Applied For
									            </h6> 
									        </td>
									        <td>{{data.post}} </td>
									    </tr>
									    <tr>
									        <td>
									            <h6 style="font-size:16px; margin:0px; color: #808080;">
									            	Father Name
									            </h6> 
									        </td>
									        <td>{{data.fatherName}}</td>
									    </tr>
									    <tr>
									        <td>
									            <h6 style="font-size:16px; margin:0px; color: #808080;">
									            	Phone Number
									            </h6> 
									        </td>
									        <td>{{data.contactNo}}</td>
									    </tr>
									    <tr>
									        <td>
									            <h6 style="font-size:16px; margin:0px; color: #808080;">
									            	DOB
									            </h6> 
									        </td>
									        <td>{{data.DOB}}</td>
									        <td rowspan="8"><img [src]="data.signImg" style="width: 150px;"></td>
									    </tr>
									    <tr>
									        <td>
									            <h6 style="font-size:16px; margin:0px; color: #808080;">
									            	Permanent Address
									            </h6>
									        </td>
									        <td>{{data.perAddress.value}}</td>
									    </tr>
									    <tr>
									        <td>
									            <h6 style="font-size:16px; margin:0px; color: #808080;">
									            	Tehsil
									            </h6> 
									        </td>
									        <td>{{data.perAddress.tehsil}}</td>
									    </tr>
									    <tr>
									        <td>
									            <h6 style="font-size:16px; margin:0px; color: #808080;">
									            	City 
									            </h6>
									        </td>
									        <td>{{data.perAddress.city}}</td>
									    </tr>
									    <tr>
									        <td>
									            <h6 style="font-size:16px; margin:0px; color: #808080;">
									            	District
									            </h6> 
									        </td>
									        <td>{{data.perAddress.district}}</td>
									    </tr>
									    <tr>
									        <td>
									            <h6 style="font-size:16px; margin:0px; color: #808080;">
									            	State
									            </h6>
									        </td>
									        <td>{{data.perAddress.state}}</td>
									    </tr>
									    <tr>
									        <td>
									            <h6 style="font-size:16px; margin:0px; color: #808080;">
									            	Willing to work at same address
									            </h6> 
									        </td>
									        <td>{{data.jobAtAddress}}</td>
									    </tr>
									    <tr>
									        <td>
									            <h6 style="font-size:16px; margin:0px; color: #808080;">
									            	Education Qualification
									            </h6> 
									        </td>
									        <td>{{data.education}}</td>
									    </tr>
									    <tr>
									        <td>
									            <h6 style="font-size:16px; margin:0px; color: #808080;">
									            	10th Percentage
									            </h6> 
									        </td>
									        <td>{{data.secPerc}}</td>
									    </tr>
									    <tr>
									        <td>
									            <h6 style="font-size:16px; margin:0px; color: #808080;">
									            	12th Percentage
									            </h6> 
									        </td>
									        <td>{{data.senSecPerc}}</td>
									    </tr>
									    <tr>
									        <td>
									            <h6 style="font-size:16px; margin:0px; color: #808080;">
									            	Post Graduation Percentage
									            </h6> 
									        </td>
									        <td>{{data.postGradPerc}}</td>
									    </tr>
									    <tr>
									        <td>
									            <h6 style="font-size:16px; margin:0px; color: #808080;">
									            	Work Experience
									            </h6> 
									        </td>
									        <td>{{data.workExp}}</td>
									    </tr>
									   <!--  <tr>
									        <td>
									            <h6 style="font-size:16px; margin:0px; color: #808080;">Investment Amount</h6> </td>
									        <td>4544</td>
									    </tr> -->
									</table>
									<br/>
									<br/>
									<a (click)="print('employ'+i)" ><b>Print</b></a>
									&nbsp;&nbsp;&nbsp;
									<a (click)="checkCont('#employ'+i)" ><b>Hide</b></a>
									
									<!-- <h6><b>Email</b></h6>
									<p>{{data.email}}</p>
									<h6><b>Name</b></h6>
									<p>{{data.name}}</p>
									<h6><b>Applied For</b></h6>
									<p>{{data.post}}</p>
									<h6><b>Father Name</b></h6>
									<p>{{data.fatherName}}</p>
									<h6><b>Phone Number</b></h6>
									<p>{{data.contactNo}}</p>
									<h6><b>DOB</b></h6>
									<p>{{data.DOB}}</p>
									<h6><b>Permanent Address</b></h6>
									<p>{{data.perAddress.value}}</p>
									<h6><b>Tehsil</b></h6>
									<p>{{data.perAddress.tehsil}}</p>
									<h6><b>City</b></h6>
									<p>{{data.perAddress.city}}</p>
									<h6><b>District</b></h6>
									<p>{{data.perAddress.district}}</p>
									<h6><b>State</b></h6>
									<p>{{data.perAddress.state}}</p>
									<h6><b>Willing to work at same address</b></h6>
									<p>{{data.jobAtAddress}}</p>					
									<h6><b>Education Qualification</b></h6>
									<p>{{data.education}}</p>
									<h6><b>10th Percentage</b></h6>
									<p>{{data.secPerc}}</p>				
									<h6><b>12th Percentage</b></h6>
									<p>{{data.senSecPerc}}</p>
									<h6><b>Post Graduation Percentage</b></h6>
									<p>{{data.postGradPerc}}</p>
									<h6><b>Work Experience</b></h6>
									<p>{{data.workExp}}</p>
									<h6><b>Signature</b></h6>
									<img [src]="data.signImg" />
									<br/>
									<h6><b>Photo</b></h6>
									<img [src]="data.profilePic" />
									<br/>
									<br/>
									<a (click)="print('employ'+i)" ><b>Print</b></a>
									&nbsp;&nbsp;&nbsp;
									<a (click)="checkCont('#employ'+i)" ><b>Hide</b></a> -->
								</div>
							</div>
						</div>
					</div>
					
					<div class="inner-detail-text" id="detail4" *ngIf="formType === 'vehicle'">
						<div class="col-md-12 fixed-height1" *ngIf="loadingForm" >
							<img src="assets/images/Loading_apple.gif" alt="loading screen" id="loading-jobs" />
						</div>
						<div class="col-md-12 fixed-height1" *ngIf="!loadingForm && vehicles.length === 0" >
							<h5 class="greyColor" ><b>Record is not available</b></h5>
						</div>
						
						<div class="col-md-12 fixed-height1" *ngIf="vehicles.length > 0 && !loadingForm" >
							<div *ngFor="let data of vehicles;let i = index;" >
								<div class="row row-cont" style="width:100%" >
									<div class="col-md-2" >{{i+1}}.</div>
									<div class="col-md-4" >{{data.email}}</div>
									<div class="col-md-4" >{{data.contactNo}}</div>
									<div class="col-md-2" ><a data-toggle="collapse" data-target="#veh{{i}}" (click)="checkCont('#veh'+i)" ><b>Show</b></a></div>
								</div>
								<div class="collapse fixed-height2" id="veh{{i}}" > <!-- data-cont -->

									<table style="width: 100%; line-height: 40px;">
										<tr colspan="3">
											<td colspan="3"><img src="assets/img/latterhead.png" style="width: 100%;"></td>
										</tr>
									    <tr>
									        <td>
									            <h6 style="font-size:16px; margin:0px; color: #808080;">Email</h6> </td>
									        <td>{{data.email}} </td>
									        <td rowspan="5"><img [src]="data.vehicleImg" style="width: 150px;"></td>
									    </tr>
									    <tr>
									        <td>
									            <h6 style="font-size:16px; margin:0px; color: #808080;">
									            	Owner Name /Firm Name
									            </h6>
									        </td>
									        <td>{{data.ownerOrFirm}} </td>
									    </tr>
									    <tr>
									        <td>
									            <h6 style="font-size:16px; margin:0px; color: #808080;">
									            	Father Name
									            </h6> 
									        </td>
									        <td>{{data.fatherName}}</td>
									    </tr>
									    <tr>
									        <td>
									            <h6 style="font-size:16px; margin:0px; color: #808080;">
									            	Phone Number
									            </h6> 
									        </td>
									        <td>{{data.contactNo}}</td>
									    </tr>
									    <tr>
									        <td>
									            <h6 style="font-size:16px; margin:0px; color: #808080;">
									            	Tehsil
									            </h6> 
									        </td>
									        <td>{{data.tehsil}}</td>
									    </tr>
									    <tr>
									        <td>
									            <h6 style="font-size:16px; margin:0px; color: #808080;">
									            	District
									            </h6> 
									        </td>
									        <td>{{data.district}}</td>
									        <td rowspan="8"><img [src]="data.vehicleImg" style="width: 150px;"></td>
									    </tr>
									    <tr>
									        <td>
									            <h6 style="font-size:16px; margin:0px; color: #808080;">
									            	State
									            </h6>
									        </td>
									        <td>{{data.state}}</td>
									    </tr>
									    <tr>
									        <td>
									            <h6 style="font-size:16px; margin:0px; color: #808080;">
									            	Type of Vehicle
									            </h6> 
									        </td>
									        <td>{{data.vehicleType}}</td>
									    </tr>
									    <tr>
									        <td>
									            <h6 style="font-size:16px; margin:0px; color: #808080;">
									            	Model No.
									            </h6>
									        </td>
									        <td>{{data.model}}</td>
									    </tr>
									    <tr>
									        <td>
									            <h6 style="font-size:16px; margin:0px; color: #808080;">
									            	RC No.
									            </h6> 
									        </td>
									        <td>{{data.rcNo}}</td>
									    </tr>
									    <tr>
									        <td>
									            <h6 style="font-size:16px; margin:0px; color: #808080;">
									            	Whatsapp No.
									            </h6>
									        </td>
									        <td>{{data.whatsAppNo}}</td>
									    </tr>
									    <tr>
									        <td>
									            <h6 style="font-size:16px; margin:0px; color: #808080;">
									            	Purchasing Date
									            </h6> 
									        </td>
									        <td>{{data.date}}</td>
									    </tr>
									    
									   <!--  <tr>
									        <td>
									            <h6 style="font-size:16px; margin:0px; color: #808080;">Investment Amount</h6> </td>
									        <td>4544</td>
									    </tr> -->
									</table>
									<br/>
									<br/>
									<a (click)="print('veh'+i)" ><b>Print</b></a>
									&nbsp;&nbsp;&nbsp;
									<a (click)="checkCont('#veh'+i)" ><b>Hide</b></a>
									<!-- <h6><b>Email</b></h6>
									<p>{{data.email}}</p>
									<h6><b>Owner Name /Firm Name</b></h6>
									<p>{{data.ownerOrFirm}}</p>
									<h6><b>Father Name</b></h6>
									<p>{{data.fatherName}}</p>
									<h6><b>Phone Number</b></h6>
									<p>{{data.contactNo}}</p>
									<h6><b>Tehsil</b></h6>
									<p>{{data.tehsil}}</p>
									<h6><b>District</b></h6>
									<p>{{data.district}}</p>
									<h6><b>State</b></h6>
									<p>{{data.state}}</p>
									<h6><b>Type of Vehicle</b></h6>
									<p>{{data.vehicleType}}</p>					
									<h6><b>Model No.</b></h6>
									<p>{{data.model}}</p>
									<h6><b>RC No.</b></h6>
									<p>{{data.rcNo}}</p>				
									<h6><b>Whatsapp No.</b></h6>
									<p>{{data.whatsAppNo}}</p>
									<h6><b>Purchasing Date</b></h6>
									<p>{{data.date}}</p>
									<h6><b>Signature</b></h6>
									<img [src]="data.signImg" id="myImg" />
									<br/>
									<h6><b>Vehicle</b></h6>
									<img [src]="data.vehicleImg" id="myImg" />
									<br/>
									<br/>
									<a (click)="print('veh'+i)" ><b>Print</b></a>
									&nbsp;&nbsp;&nbsp;
									<a (click)="checkCont('#veh'+i)" ><b>Hide</b></a> -->
								</div>
							</div>
						</div>
					</div>		
				</div>
			</div>
		</div>
	</div>
</div>