/*====================

======================

===== MY CSS =========

====================*/

.navbar-collapse ul {
    margin: 0 auto;
}

.navbar-collapse {
    background: #ffaa01;
    border-radius: 50px;
    margin-top: -16px;
}

.banner {
    position: relative;
    z-index: -9;
    top: -58px;
}

.no-gap {
    padding-right: 0px;
    padding-left: 0px;
}

.left-content-area video {
    margin-top: 90px;
}

.registration-text {
    margin-top: 30px;
}

.registration-text p {
    color: #7a7a7a;
}

.registration-form input {
    margin-bottom: 15px;
    border: 1px solid #ffaa01;
    margin-right: 10px;
}

.registration-form select {
    margin-bottom: 15px;
    border: 1px solid #ffaa01;
    width: 100%;
    height: 40px;
}

#base-input {
    border: 0px;
}

#base-input1 {
    border: 0px;
}

.registration-form label {
    font-size: 15px;
    font-weight: bold;
    color: #000;
    margin-top: 20px;
}

.registration-button {
    background: #ffaa01 !important;
    color: #fff;
    margin-bottom: 50px;
}

.registration-button:hover {
    color: #000;
}

.registration-text h3 {
    font-size: 19px;
}

.contact-heading h2 {
    text-align: center;
    font-size: 40px;
    color: #ffaa01;
}

.contact-detail {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    padding-left: 30px !important;
    background-color: #ffaa01 !important;
    margin-top: 70px;
}

.contact-form label {
    font-size: 15px;
    font-weight: bold;
    color: #000;
}

.contact-form input {
    background: #f5f5f5;
    border-color: #f5f5f5;
}

.contact-form textarea {
    background: #f5f5f5;
    border-color: #f5f5f5;
}

.contact-form .contact-button {
    margin: 0 auto;
    display: block;
    background: #ffaa01 !important;
    padding: 10px 50px;
    margin-bottom: 50px;
    margin-top: 30px;
}

.contact-map {
    margin-top: 50px;
}

@media screen and (max-width: 990px) {
    .navbar {
        position: absolute !important;
        top: 10px;
        right: 0px;
    }
    .support-bar-area img {
        width: 150px;
        float: left;
    }
    .navbar-collapse{
      border-radius: 0px !important;
      margin-top: 0px;
    }
}
.modal-open{
    padding-right:0px !important;
}
.modal-content{
    /* background: url(../../../assets/images/login.jpg); */
	background-color : #f3e97a;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0px;
}
.modal-header{
    border-bottom: 0px;
    position: absolute;
    top: 0;
    right: 0;
}
.container1 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 15px;
}

.container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
    margin-top: 5px;
}

.container1:hover input ~ .checkmark {
    background-color: #ccc;
}
.container1 input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container1 input:checked ~ .checkmark:after {
    display: block;
}
.container1 .checkmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
.select-box {
    text-align: center;
}
.select-box label {
    display: inline-block;
}
.login-form .form-control {
    background: rgb(255,255,255,0);
    border: 0px;
    border-bottom: 1px solid #000;
}
.login-form .btn {
    margin: 0 auto;
    display: block;
    margin-top: 40px;
    background: #5e5c57;
    border-color: #ffaa01;
    padding: 10px 40px;

}
.error-div{
	text-align:right;
	margin-top:-15px;
}
.error-div p{
	color:red !important;
}


.selectpicker{
	width: 100%;
    height: 40px;
    background: transparent;
    border: 1px solid black;
}