<div class="modal fade" id="signUpAgentModal" role="dialog" >
	<div class="modal-dialog" style="max-width:700px !important;" >
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<form class="login-form" novalidate [formGroup]="signUpForm" (ngSubmit)="onSubmit()" *ngIf="signUpForm" >
					<div class="form-group" >
						<label for="exampleInputName1" i18n="@@field-first-name">First Name</label>
						<input type="text" class="form-control" i18n-placeholder="@@placeholder-first-name" formControlName="firstName" placeholder="First Name" />
					</div>
					<div class="error-div" *ngIf="firstName.errors && ( firstName.dirty || firstName.touched )" >
						<p *ngIf="firstName.errors.required" i18n="@@valid-required">Field is required</p>
					</div>
					<div class="form-group" >
						<label for="exampleInputName1" i18n="@@field-last-name">Last Name</label>
						<input type="text" class="form-control" i18n-placeholder="@@placeholder-last-name" formControlName="lastName" placeholder="Last Name" />
					</div>
					<div class="error-div" *ngIf="lastName.errors && ( lastName.dirty || lastName.touched )" >
						<p *ngIf="lastName.errors.required" i18n="@@valid-required">Field is required</p>
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1" i18n="@@field-email">Email</label>
						<input type="text" class="form-control" i18n-placeholder="@@placeholder-email" formControlName="email" placeholder="Email Id" />
					</div>
					<div class="error-div" *ngIf="email.errors && ( email.dirty || email.touched )" >
						<p *ngIf="email.errors.required" i18n="@@valid-required">Field is required</p>
						<p *ngIf="email.errors.validEmail" i18n="@@valid-email">Invalid Email Id</p>
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1" i18n="@@field-mobile">Mobile No.</label>
						<input type="tel" class="form-control" i18n-placeholder="@@placeholder-mobile" formControlName="mobile" placeholder="Mobile No." />
					</div>
					<div class="error-div" *ngIf="mobile.errors && ( mobile.dirty || mobile.touched )" >
						<p *ngIf="mobile.errors.required" i18n="@@valid-required">Field is required</p>
						<p *ngIf="mobile.errors.validMobile" i18n="@@valid-mobile">Invalid Mobile No.</p>
					</div>
					<div class="form-group" >
						<label for="exampleInputEmail1" i18n="@@field-password">Password</label>
						<input type="password" class="form-control" i18n-placeholder="@@placeholder-password" name="pass" formControlName="password" placeholder="Password" />
					</div>
					<div class="error-div" *ngIf="password.errors && (password.dirty || password.touched)">
						<p *ngIf="password.errors.required" i18n="@@valid-required">Field is required</p>
						<p *ngIf="password.errors.minlength" i18n="@@valid-password">Password must be 6 characters long, we need another {{password.errors.minlength.requiredLength - password.errors.minlength.actualLength}} characters </p>
					</div>
					<div class="form-group reg-form" >
						<label for="exampleInputEmail1" i18n="@@field-confirm-password">Confirm Password</label>
						<input type="password" class="form-control" i18n-placeholder="@@placeholder-confirm-password" name="cPass" formControlName="confPassCust" placeholder="Confirm Password" />
					</div>
					<div class="error-div" *ngIf="confPassCust.errors && (confPassCust.dirty || confPassCust.touched)" >
						<p *ngIf="confPassCust.errors.required" i18n="@@valid-required">Field is required</p>
					</div>
					<div class="error-div" *ngIf="signUpForm.get('password').value && signUpForm.get('password').value.length > 0 &&
							signUpForm.get('confPassCust').value && signUpForm.get('confPassCust').value.length > 0 && 
							signUpForm.get('password').value != signUpForm.get('confPassCust').value" >
						<p i18n="@@valid-confirm-password">Passwords doesn't Match</p>
					</div>
					
					<div formGroupName="permanentAddress" >
						<div class="form-group">
							<label for="address" i18n="@@field-permanent-address">Permanent Address</label>
							<input type="text" class="form-control" i18n-placeholder="@@placeholder-permanent-address" placeholder="Permanent Address" formControlName="value" >
						</div>
						<div class="error-div" *ngIf="value.errors && (value.dirty || value.touched)" >
							<p *ngIf="value.errors.required" i18n="@@valid-required">Field is required</p>
						</div>
						<div class="form-group">
							<label for="city" i18n="@@field-city">City</label>
							<input type="text" class="form-control" i18n-placeholder="@@placeholder-city" placeholder="City" formControlName="city"  >
						</div>
						<div class="error-div" *ngIf="city.errors && (city.dirty || city.touched)" >
							<p *ngIf="city.errors.required" i18n="@@valid-required">Field is required</p>
						</div>
						<div class="form-group">
							<label for="city" i18n="@@field-tehsil">Tehsil</label>
							<input type="text" class="form-control" i18n-placeholder="@@placeholder-tehsil" placeholder="Tehsil" formControlName="tehsil" />
						</div>
						<div class="error-div" *ngIf="tehsil.errors && (tehsil.dirty || tehsil.touched)" >
							<p *ngIf="tehsil.errors.required" i18n="@@valid-required">Field is required</p>
						</div>
						<div class="form-group">
							<label for="city" i18n="@@field-district">District</label>
							<input type="text" class="form-control" i18n-placeholder="@@placeholder-district" formControlName="district" placeholder="District" />
						</div>
						<div class="error-div" *ngIf="district.errors && (district.dirty || district.touched)" >
							<p *ngIf="district.errors.required" i18n="@@valid-required">Field is required</p>
						</div>
						<div class="form-group">
							<label for="number" i18n="@@field-state">State</label>
							<select class="selectpicker" formControlName="state" >
								<option *ngFor="let state of stateList;" [value]="state" >
									<span *ngIf="seletectedLanguage != 'hi'">{{state}}</span>
									<span *ngIf="seletectedLanguage == 'hi'">{{stateHindiList[state]}}</span>
								</option>
							</select>
						</div>
					</div>
					
					<div formGroupName="shopAddress" >
						<div class="form-group">
							<label for="address" i18n="@@field-shop-address">Shop Address</label>
							<input type="text" class="form-control" i18n-placeholder="@@placeholder-shop-address" placeholder="Permanent Address" formControlName="value1" >
						</div>
						<div class="error-div" *ngIf="value1.errors && (value1.dirty || value1.touched)" >
							<p *ngIf="value1.errors.required" i18n="@@valid-email">Field is required</p>
						</div>
						<div class="form-group">
							<label for="city" i18n="@@field-city">City</label>
							<input type="text" class="form-control" i18n-placeholder="@@placeholder-city" placeholder="City Name" formControlName="city1"  >
						</div>
						<div class="error-div" *ngIf="city1.errors && (city1.dirty || city1.touched)" >
							<p *ngIf="city1.errors.required" i18n="@@valid-required">Field is required</p>
						</div>
						<div class="form-group">
							<label for="city" i18n="@@field-tehsil">Tehsil</label>
							<input type="text" class="form-control" i18n-placeholder="@@placeholder-tehsil" placeholder="Tehsil" formControlName="tehsil1" />
						</div>
						<div class="error-div" *ngIf="tehsil1.errors && (tehsil1.dirty || tehsil1.touched)" >
							<p *ngIf="tehsil1.errors.required" i18n="@@valid-required">Field is required</p>
						</div>
						<div class="form-group">
							<label for="city" i18n="@@field-district">District</label>
							<input type="text" class="form-control" i18n-placeholder="@@placeholder-district" formControlName="district1" placeholder="District" />
						</div>
						<div class="error-div" *ngIf="district1.errors && (district1.dirty || district1.touched)" >
							<p *ngIf="district1.errors.required" i18n="@@valid-required">Field is required</p>
						</div>
						<div class="form-group">
							<label for="number" i18n="@@field-state">State</label>
							<select class="selectpicker" formControlName="state1" >
								<option *ngFor="let state of stateList;" [value]="state" >
									<span *ngIf="seletectedLanguage != 'hi'">{{state}}</span>
									<span *ngIf="seletectedLanguage == 'hi'">{{stateHindiList[state]}}</span>
								</option>
							</select>
						</div>
					</div>
					
					<div class="form-group" >
						<label i18n="@@field-aadhar-card">Aadhar Card</label>
						<br>
						<input type="file" id="base-input" rah-file-dir accept="image/*" (assignValue)="files.aadharImg = $event;noAadhar = false;" class=" form-style-base input100" placeholder="No file selected">
					</div>
					<div class="error-div" *ngIf="noAadhar" >
						<p i18n="@@valid-image">Image is required</p>
					</div>
					
					<div class="alert alert-danger" *ngIf="errSuccObj.error" role="alert">{{errSuccObj.error | titlecase }}</div>
					<div class="alert alert-success" *ngIf="errSuccObj.success" role="alert">{{errSuccObj.success | titlecase }}</div>
					
					<button type="submit" class="btn btn-primary" i18n="@@btn-submit">Submit</button>
				</form>
			</div>
			
		</div>
	</div>
</div>