<div class="container mess-cont" *ngIf="!isForm" >
	<p i18n="@@emp-already-created">You have created the form before, try login with another Email Id to apply for employment</p>
</div>
<div class="container" *ngIf="isForm && employmentForm" >
	<div class="row">
		<div class="col-md-12">
			<div class="registration-text">
				<h3 i18n="@@field-baba-bajri-ltd">D V Babba Project Pvt. Ltd.</h3>
				<p i18n="@@emp-sub-heading-line">Online application forms for recruitment of about 10000 posts at Tehsil level. ID V Babba Project Pvt. Company will be recruited in different types of posts. The personnel appointed in this recruitment will be of approximately 5000 to 100000 Pay scale per month will be determined on the basis of this merit qualification.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<form class="registration-form" novalidate [formGroup]="employmentForm" (ngSubmit)="onSubmit()" >
				<div class="form-group">
					<label for="email" ><ng-container i18n="@@field-email">EMAIL</ng-container> *</label>
					<input type="text" class="form-control" *ngIf="myInfo.realm === 'webuser'" id="email" formControlName="email" i18n-placeholder="@@placeholder-email" placeholder="Enter email" name="email" />
					<input type="text" class="form-control" *ngIf="myInfo.realm === 'emitra'" id="email" formControlName="email" i18n-placeholder="@@placeholder-email" placeholder="Enter email" name="email" />
				</div>
				<div class="error-div" *ngIf="email.errors && (email.dirty || email.touched)" >
					<p *ngIf="email.errors.required" i18n="@@valid-required">Field is required</p>
					<p *ngIf="email.errors.validEmail" i18n="@@valid-email">Invalid Email</p>
				</div>
				<div class="form-group">
					<label for="number"><ng-container i18n="@@field-apply-for">APPLYING FOR</ng-container> *</label>
					<select class="selectpicker" formControlName="post" >
						<option *ngFor="let pos of avaiPositions;" [value]="pos" >
							<span *ngIf="localeId != 'hi'">{{pos}}</span>
							<span *ngIf="localeId == 'hi'">{{avaiPositionsHiEn[pos]}}</span>
						</option>
					</select>
				</div>
				<div class="error-div" *ngIf="post.errors && (post.dirty || post.touched)" >
					<p *ngIf="post.errors.required" i18n="@@valid-required">Field is required</p>
				</div>
				<div class="form-group">
					<label for="name"><ng-container i18n="@@field-name">NAME</ng-container> *</label>
					<input type="text" class="form-control" i18n-placeholder="@@placeholder-name" formControlName="name" id="name" placeholder="Your Name" name="name" />
				</div>
				<div class="error-div" *ngIf="name.errors && (name.dirty || name.touched)" >
					<p *ngIf="name.errors.required" i18n="@@valid-required">Field is required</p>
				</div>
				<div class="form-group">
					<label for="name" ><ng-container i18n="@@field-date-of-birth">DATE OF BIRTH</ng-container> *</label>
					<input class="form-control" i18n-placeholder="@@placeholder-date-of-birth" id="date" name="date" placeholder="MM/DD/YYYY" type="date" formControlName="DOB" />
				</div>
				<div class="error-div" *ngIf="DOB.errors && (DOB.dirty || DOB.touched)" >
					<p *ngIf="DOB.errors.required" i18n="@@valid-required">Field is required</p>
				</div>
				<div class="form-group">
					<label for="number" ><ng-container i18n="@@field-contact-number">CONTACT NO</ng-container> *</label>
					<input type="tel" class="form-control" i18n-placeholder="@@placeholder-contact-number" placeholder="Contact No." formControlName="contactNo" />
				</div>
				<div class="error-div" *ngIf="contactNo.errors && (contactNo.dirty || contactNo.touched)" >
					<p *ngIf="contactNo.errors.required" i18n="@@valid-required">Field is required</p>
					<p *ngIf="contactNo.errors.validMobile" i18n="@@valid-contact-number">Invalid Contact No.</p>
				</div>
				<div class="form-group">
					<label for="number"><ng-container i18n="@@field-gender">GENDER</ng-container> *</label>
					<br>
					<select class="selectpicker" formControlName="gender" >
						<option value="male" i18n="@@field-gender-opt-male">Male</option>
						<option value="female" i18n="@@field-gender-opt-female">Female</option>
					</select>
				</div>
				<div class="form-group">
					<label for="name"><ng-container i18n="@@field-father-name">FATHER NAME</ng-container> *</label>
					<input type="text" formControlName="fatherName" i18n-placeholder="@@placeholder-father-name" class="form-control" placeholder="Father Name">
				</div>
				<div class="error-div" *ngIf="fatherName.errors && (fatherName.dirty || fatherName.touched)" >
					<p *ngIf="fatherName.errors.required" i18n="@@valid-required">Field is required</p>
				</div>
				<div formGroupName="perAddress" >
					<div class="form-group">
						<label for="address"><ng-container i18n="@@field-permanent-address">PERMANENT ADDRESS</ng-container> *</label>
						<input type="text" class="form-control" i18n-placeholder="@@placeholder-permanent-address" placeholder="Permanent Address" formControlName="value" >
					</div>
					<div class="error-div" *ngIf="value.errors && (value.dirty || value.touched)" >
						<p *ngIf="value.errors.required" i18n="@@valid-required">Field is required</p>
					</div>
					<div class="form-group">
						<label for="city" ><ng-container i18n="@@field-city">CITY NAME</ng-container> *</label>
						<input type="text" class="form-control" i18n-placeholder="@@placeholder-city" placeholder="City Name" formControlName="city"  >
					</div>
					<div class="error-div" *ngIf="city.errors && (city.dirty || city.touched)" >
						<p *ngIf="city.errors.required" i18n="@@valid-required">Field is required</p>
					</div>
					<div class="form-group">
						<label for="city"><ng-container i18n="@@field-tehsil">TEHSIL</ng-container> *</label>
						<input type="text" class="form-control" i18n-placeholder="@@placeholder-tehsil" placeholder="Tehsil" formControlName="tehsil" />
					</div>
					<div class="error-div" *ngIf="tehsil.errors && (tehsil.dirty || tehsil.touched)" >
						<p *ngIf="tehsil.errors.required" i18n="@@valid-required">Field is required</p>
					</div>
					<div class="form-group">
						<label for="city"><ng-container i18n="@@field-district">DISTRICT</ng-container>*</label>
						<input type="text" class="form-control" i18n-placeholder="@@placeholder-district" formControlName="district" placeholder="District" />
					</div>
					<div class="error-div" *ngIf="district.errors && (district.dirty || district.touched)" >
						<p *ngIf="district.errors.required" i18n="@@valid-required">Field is required</p>
					</div>
					<div class="form-group">
                        <label for="number"><ng-container i18n="@@field-state">STATE</ng-container> *</label>
                        <select class="selectpicker" formControlName="state" >
                            <option *ngFor="let state of stateList;" [value]="state" >
                            	<span *ngIf="localeId != 'hi'">{{state}}</span>
                            	<span *ngIf="localeId == 'hi'">{{stateListHindi[state]}}</span>
                            </option>
                        </select>
                    </div>
				</div>
				<div class="form-group">
					<label for="number" i18n="@@emp-want-to-do-job">DO YOU WANT TO DO JOB AT THE ABOVE ADDRESS *</label>
					<br/>
					<select class="selectpicker" formControlName="jobAtAddress" (change)="toggleAddress()" >
						<option value="yes" i18n="@@emp-opt-yes">yes</option>
						<option value="no" i18n="@@emp-opt-no">no</option>
					</select>
				</div>
				
				<div formGroupName="preferredJobAdd" *ngIf="employmentForm.get('jobAtAddress')?.value === 'no'" >
					<div class="form-group">
						<label for="city"><ng-container i18n="@@field-preffered-city">PREFFERED CITY</ng-container> *</label>
						<input type="text" class="form-control" i18n-placeholder="@@field-preffered-city" placeholder="City Name" formControlName="preferredCity" />
					</div>
					<div class="error-div" *ngIf="preferredCity.errors && (preferredCity.dirty || preferredCity.touched)" >
						<p *ngIf="preferredCity.errors.required" i18n="@@valid-required">Field is required</p>
					</div>
					<div class="form-group">
                        <label for="number"><ng-container i18n="@@field-preffered-state">PREFFERED STATE</ng-container> *</label>
                        <select class="selectpicker" formControlName="preferredState" >
                            <option *ngFor="let state of stateList;" [value]="state" >
                            	<span *ngIf="localeId != 'hi'">{{state}}</span>
                            	<span *ngIf="localeId == 'hi'">{{stateListHindi[state]}}</span>
                            </option>
                        </select>
                    </div>
					<div class="error-div" *ngIf="preferredState.errors && (preferredState.dirty || preferredState.touched)" >
						<p *ngIf="preferredState.errors.required" i18n="valid-required">Field is required</p>
					</div>
				</div>
				
				<div class="checkbox">
					<label><ng-container i18n="@@emp-qualification">EDUCATION QUALIFICATION</ng-container> *</label>
					<br>
					<input type="radio" name="education" (change)="toggleEdu()" value="NIL" formControlName="education" ><ng-container i18n="@@emp-qualification-opt-nil">NIL</ng-container>
					<br>
					<input type="radio" name="education" (change)="toggleEdu()" value="8TH PASS" formControlName="education" ><ng-container i18n="@@emp-qualification-opt-8">8TH PASS</ng-container>
					<br>
					<input type="radio" name="education" (change)="toggleEdu()" value="10TH PASS" formControlName="education" ><ng-container i18n="@@emp-qualification-opt-10">10TH PASS</ng-container>
					<br>
					<input type="radio" name="education" (change)="toggleEdu()" value="12TH PASS" formControlName="education" ><ng-container i18n="@@emp-qualification-opt-12">12TH PASS</ng-container>
					<br>
					<input type="radio" name="education" (change)="toggleEdu()" value="GRADUATION" formControlName="education" ><ng-container i18n="@@emp-qualification-opt-grad">GRADUATION</ng-container>
					<br>
					<input type="radio" name="education" (change)="toggleEdu()" value="POST GRADUATION" formControlName="education" ><ng-container i18n="@@emp-qualification-opt-post-grad">POST GRADUATION</ng-container>
				</div>
				<div class="form-group" *ngIf="employmentForm.get('education')?.value === '10TH PASS' || employmentForm.get('education')?.value === '12TH PASS' || employmentForm.get('education')?.value === 'GRADUATION' || employmentForm.get('education')?.value === 'POST GRADUATION'" >
					<label for="city" i18n="@@emp-qualification-10-per">10TH PERCENTAGE</label>
					<input type="text" class="form-control" formControlName="secPerc" i18n-placeholder="@@placeholder-your-answer" placeholder="Your answer" />
				</div>
				<div class="error-div" *ngIf="secPerc.errors && (secPerc.dirty || secPerc.touched)" >
					<p *ngIf="secPerc.errors.validPer" i18n="@@valid-number">Invalid Number</p>
					<p *ngIf="secPerc.errors.required" i18n="@@valid-required">Field Required</p>
				</div>
				<div class="form-group" *ngIf="employmentForm.get('education')?.value === '12TH PASS' || employmentForm.get('education')?.value === 'GRADUATION' || employmentForm.get('education')?.value === 'POST GRADUATION'" >
					<label for="city" i18n="@@emp-qualification-12-per">12TH PERCENTAGE</label>
					<input type="tel" class="form-control" i18n-placeholder="@@placeholder-your-answer"  formControlName="senSecPerc" placeholder="Your answer" />
				</div>
				<div class="error-div" *ngIf="senSecPerc.errors && (senSecPerc.dirty || senSecPerc.touched)" >
					<p *ngIf="senSecPerc.errors.validPer" i18n="@@valid-number">Invalid Number</p>
					<p *ngIf="senSecPerc.errors.required" i18n="@@valid-required">Field Required</p>
				</div>
				<div class="form-group" *ngIf="employmentForm.get('education')?.value === 'GRADUATION' || employmentForm.get('education')?.value === 'POST GRADUATION'" >
					<label for="city" i18n="@@emp-qualification-grad-per">GRADUATION PERCENTAGE</label>
					<input type="tel" class="form-control" i18n-placeholder="@@placeholder-your-answer"  placeholder="Your answer" formControlName="gradPerc" />
				</div>
				<div class="error-div" *ngIf="gradPerc.errors && (gradPerc.dirty || gradPerc.touched)" >
					<p *ngIf="gradPerc.errors.validPer" i18n="@@valid-number">Invalid Number</p>
					<p *ngIf="gradPerc.errors.required" i18n="@@valid-required">Field Required</p>
				</div>
				<div class="form-group" *ngIf="employmentForm.get('education')?.value === 'POST GRADUATION'" >
					<label for="city" i18n="@@emp-qualification-post-grad-per">POST GRADUATION PERCENTAGE</label>
					<input type="tel" class="form-control" i18n-placeholder="@@placeholder-your-answer"  placeholder="Your answer" formControlName="postGradPerc" />
				</div>
				<div class="error-div" *ngIf="postGradPerc.errors && (postGradPerc.dirty || postGradPerc.touched)" >
					<p *ngIf="postGradPerc.errors.validPer" i18n="@@valid-number">Invalid Number</p>
					<p *ngIf="postGradPerc.errors.required" i18n="@@valid-required">Field Required</p>
				</div>
				<div class="form-group">
					<label for="post" i18n="@@emp-work-exp">Work Experience </label>
					<br>
					<input type="radio" name="workExp" value="0-1 Year" formControlName="workExp" ><ng-container i18n="@@emp-work-exp-opt-0-1"> 0-1 Year</ng-container>
					<br>
					<input type="radio" name="workExp" value="1-2 Year" formControlName="workExp" > <ng-container i18n="@@emp-work-exp-opt-1-2">1-2 Year</ng-container>
					<br>
					<input type="radio" value="2-3 Year" name="workExp" formControlName="workExp" ><ng-container i18n="@@emp-work-exp-opt-2-3">2-3 Year</ng-container>
					<br>
					<input type="radio" value="3-5 Year" name="workExp" formControlName="workExp" ><ng-container i18n="@@emp-work-exp-opt-3-5">3-5 Year</ng-container>
					<br>
					<input type="radio" value="5-10 Year" name="workExp" formControlName="workExp" ><ng-container i18n="@@emp-work-exp-opt-5-10">5-10 Year</ng-container>
					<br>
					<input type="radio" value="10+ Year" name="workExp" formControlName="workExp" ><ng-container i18n="@@emp-work-exp-opt-10-plus">10+ Year</ng-container>
				</div>
				<div class="form-group">
					<label ><ng-container i18n="@@emp-signature">SIGNATURE</ng-container> *</label>
					<br>
					<input type="file" id="base-input" rah-file-dir accept="image/*" (assignValue)="files.signImg = $event;noSign = false;" class=" form-style-base input100" placeholder="No file selected">
				</div>
				<div class="error-div" *ngIf="noSign" >
					<p i18n="@@valid-image">Image is required</p>
				</div>
				<div class="form-group">
					<label ><ng-container i18n="@@emp-photo">PHOTO</ng-container> *</label>
					<br>
					<input type="file" id="base-input1" rah-file-dir accept="image/*" (assignValue)="files.profilePic = $event;noProfilePic = false;" class=" form-style-base input100" placeholder="No file selected" />
				</div>
				<div class="error-div" *ngIf="noProfilePic" >
					<p i18n="@@valid-image">Image is required</p>
				</div>
				
				<div *ngIf="!hide" >
					<div class="alert alert-danger" *ngIf="errSuccObj.error" role="alert">{{errSuccObj.error | titlecase }}</div>
					<div class="alert alert-success" *ngIf="errSuccObj.success" role="alert">{{errSuccObj.success | titlecase }}</div>
				</div>
				
				<button type="submit" [disabled]="disabled" class="btn btn-default registration-button" i18n="@@btn-submit">Submit</button>
			</form>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>