<div class="row" style="margin-top: 100px;" ><div class="col-md-2"></div>
	<div class="col-md-8 forget-body">
		<div class="forget-text">
			<h3 class="header-style" ><ng-container i18n="@@fp-2-reset-password">Reset Password</ng-container></h3>
		</div>
		<form novalidate [formGroup]="resetForm" >
			<div class="form-group forget-filed">
				<label for="newPassword" class="header-style" ><ng-container>Enter New Password</ng-container></label>
				<input type="Password" class="form-control header-style" id='newPassword' name="newPassword" formControlName="newPassword" />
			</div>
			<div class="error-div1" *ngIf="newPassword.errors && (newPassword.dirty || newPassword.touched)" >
				<p *ngIf="newPassword.errors.required">Password is required</p>
			</div>
			<div class="form-group forget-filed">
				<label for="conPassword" class="header-style" ><ng-container>Re-Enter New Password</ng-container></label>
				<input type="Password" class="form-control header-style" id='conPassword' name="confNewPassword" formControlName="confNewPassword" />
			</div>
			<div class="error-div1" *ngIf="confNewPassword.errors && (confNewPassword.dirty || confNewPassword.touched)" >
				<p *ngIf="confNewPassword.errors.required">Confirm Password is required</p>
			</div>
			<div class="error-div" *ngIf="resetForm.get('newPassword').value && resetForm.get('newPassword').value.length > 0 &&
				resetForm.get('confNewPassword').value && resetForm.get('confNewPassword').value.length > 0 && 
				resetForm.get('newPassword').value != resetForm.get('confNewPassword').value" >
				<p>Passwords doesn't Match</p>
			</div>
			<div class="abhi-btn" style="margin-bottom:50px;" >
				<button type="submit" id="resetPass" class="abhi-btn btn btn-default header-style" (click)="resetPassword()" [ngClass]='{"disbaled" : disbale }' ><ng-container>Submit</ng-container></button>
			</div>
		</form>    
	</div>
	<div class="col-md-2"></div>
</div>