<div class="modal fade" id="signUpModal" role="dialog" >
	<div class="modal-dialog" style="max-width:700px !important;" >
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<form class="login-form" novalidate [formGroup]="signUpForm" (ngSubmit)="onSubmit()" *ngIf="signUpForm" >
					<div class="form-group" >
						<label for="exampleInputName1" i18n="@@field-first-name">First Name</label>
						<input type="text" class="form-control" i18n-placeholder="@@placeholder-first-name" formControlName="firstName" placeholder="First Name" />
					</div>
					<div class="error-div" *ngIf="firstName.errors && ( firstName.dirty || firstName.touched )" >
						<p *ngIf="firstName.errors.required" i18n="@@valid-required">Field is required</p>
					</div>
					<div class="form-group" >
						<label for="exampleInputName1" i18n="@@field-last-name">Last Name</label>
						<input type="text" class="form-control" i18n-placeholder="@@placeholder-last-name" formControlName="lastName" placeholder="Last Name" />
					</div>
					<div class="error-div" *ngIf="lastName.errors && ( lastName.dirty || lastName.touched )" >
						<p *ngIf="lastName.errors.required" i18n="@@valid-required">Field is required</p>
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1" i18n="@@field-email">Email</label>
						<input type="text" class="form-control" i18n-placeholder="@@placeholder-email" formControlName="email" placeholder="Email Id" />
					</div>
					<div class="error-div" *ngIf="email.errors && ( email.dirty || email.touched )" >
						<p *ngIf="email.errors.required" i18n="@@valid-required">Field is required</p>
						<p *ngIf="email.errors.validEmail" i18n="@@valid-email">Invalid Email Id</p>
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1" i18n="@@field-mobile">Mobile No.</label>
						<input type="tel" class="form-control" formControlName="mobile" i18n-placeholder="@@placeholder-mobile" placeholder="Mobile No." />
					</div>
					<div class="error-div" *ngIf="mobile.errors && ( mobile.dirty || mobile.touched )" >
						<p *ngIf="mobile.errors.required" i18n="@@valid-required">Field is required</p>
						<p *ngIf="mobile.errors.validMobile" i18n="@@valid-mobile">Invalid Mobile No.</p>
					</div>
					<div class="form-group" >
						<label for="exampleInputEmail1" i18n="@@field-password">Password</label>
						<input type="password" class="form-control" name="pass" i18n-placeholder="@@placeholder-password" formControlName="password" placeholder="Password" />
					</div>
					<div class="error-div" *ngIf="password.errors && (password.dirty || password.touched)">
						<p *ngIf="password.errors.required" i18n="@@valid-required">Field is required</p>
						<p *ngIf="password.errors.minlength" i18n="@@valid-password">Password must be 6 characters long, we need another {{password.errors.minlength.requiredLength - password.errors.minlength.actualLength}} characters </p>
					</div>
					<div class="form-group reg-form" >
						<label for="exampleInputEmail1" i18n="@@field-confirm-password">Confirm Password</label>
						<input type="password" class="form-control" name="cPass" i18n-placeholder="@@placeholder-confirm-password" formControlName="confPassCust" placeholder="Confirm Password" />
					</div>
					<div class="error-div" *ngIf="confPassCust.errors && (confPassCust.dirty || confPassCust.touched)" >
						<p *ngIf="confPassCust.errors.required" i18n="@@valid-required">Field is required</p>
					</div>
					<div class="error-div" *ngIf="signUpForm.get('password').value && signUpForm.get('password').value.length > 0 &&
							signUpForm.get('confPassCust').value && signUpForm.get('confPassCust').value.length > 0 && 
							signUpForm.get('password').value != signUpForm.get('confPassCust').value" >
						<p i18n="@@valid-confirm-password">Passwords doesn't Match</p>
					</div>
					
					<div class="alert alert-danger" *ngIf="errSuccObj.error" role="alert">{{errSuccObj.error | titlecase }}</div>
					<div class="alert alert-success" *ngIf="errSuccObj.success" role="alert">{{errSuccObj.success | titlecase }}</div>
					
					<button type="submit" i18n="@@btn-submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>