<div class="container-fluid">
        <div class="row">
            <div class="col-md-12 no-gap">
                <div class="banner">
                    <img class="img-responsive" src="assets/img/1bg-2000x900.png">
                </div>
            </div>
        </div>
    </div>
    <!-- header area end -->
    <!-- single inovation area -->
    <section class="single-inovation-area">
        <span class="bg-text">COMPANY</span>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="right-content-area">
                        <!-- right content area -->
                        <div class="invovation-content-area" style="text-align:justify;" >
                            <span class="subtitle" i18n="@@header-about-us">About</span>
                            <p i18n="@@ab-remote-area-description">There is a quirk of nature, which gives the benefit, the other one, the common tree or the milky cow. The man who annoys God too, the pass down to get the fruit from the mango tree breaks down to the common by giving the human stone, as if the cow is thirsty after milk, as a small child, hungry and thirsty He kills his own mother's feet, thereby hardening what life gives him only when it gets upset. It is also the most recent of rivers, quenched the thirst of people with serene water, and housing for people with venting soils, sand or stones, different types of people get their June 2 bread from mining work in the same area but so hard to After that, they also create high-rise buildings in big-big cities but have to mohtaj with facilities other than the June 2 bread for themselves, they cannot find the roof for the head, no clothes to wear. The arrival of commuters does not even have the facilities of commuting, what should be done by the people living in the area. For the basic amenities, the government also does not bring these areas a tempting opportunity in their budget, always in remote areas It is made to be a center of neglect, even if the chambal's rugged forest or the hope of a forest is formed.</p>
                            <!-- <p>Babba Bajri is your local independent building material suppliers. The basic objective of D V Babba Project Pvt. Ltd. is to deliver building materials such as gravel, ballast, scree, dust, cement, water and so on to the valuable customers to make the facilities easy for the consumers. These such type of building materials is available to the consumers in comfortable and reasonable prices with home delivery. </p>
							<p>Search or find building materials from http://babbabazri.com (A Firm of D V Babba Project Pvt. Ltd.) in easiest way. Get the best quality materials from us.</p>
							<p>We are available always 24X7. Buy the construction materials for your needs just one call at 8377-830-830. By contacting this number, you may also choose your options such as gravel cement or other materials, our consumer service officer will contact you immediately according to your needs.</p>
							<p>Our Experts are always available for your support regarding building material issues. You can get advice from our experienced experts for your all construction needs.</p> -->
                        </div>
                    </div>
                    <!-- //.right content area -->
                </div>
                <div class="col-lg-6">
                    <div class="left-content-area">
                        <video autoplay="true">
                            <source src="assets/img/VID-20180616-WA0001.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- single inovation end -->
    <!-- single inovation area -->
    <section class="single-inovation-area second-item bg-color">
        <div class="container">
            <div class="row reorder-xs">
                <div class="col-lg-6">
                    <div class="right-content-area">
                        <!-- right content area -->
                        <div class="img-wrapper res-margin">
                            <img src="assets/img/123.jpg" alt="text" style="height:270px;" />
                        </div>
                    </div>
                    <!-- //.right content area -->
                </div>
                <div class="col-lg-6">
                    <div class="left-content-area" >
                        <div class="invovation-content-area" style="text-align: justify;" >
                            <p i18n="@@ab-community-description">We have come to you for a plan in which the development of these sectors will be achieved by Babba Project Pvt Ltd, which will also receive income from the gross profit of 30% of the money in the sector for growth. Education system will be strengthened in the areas, all citizens residing in these regions will be provided with opportunities for employment, as well as various infrastructure facilities such as housing facilities, medicine, high quality food, community building, means of traffic, poor They will be encouraged by giving children the education and scholarship for them.</p>

							<!-- <p>You can just go through our website for what you want. We have developed android and iOS applications with the name “Babba Bazri”. You can download our applications.</p>
							<p>Our Application Features:-</p>
							<p>-Book or order online according to your needs. </p>
							<p>-Options available such as gravel, ballast, scree, dust, cement and so on.</p>
							<p>-Choose & Place your order quickly.</p>
							<p>-You can order later as “Book Later” options available from where you can schedule your booking with date & time.</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- single inovation end -->
    <!-- single inovation area -->
    <section class="single-inovation-area second-item bg-color last-child">
        <div class="container">
            <div class="row reorder-xs">
                <div class="col-lg-6">
                    <div class="left-content-area">
                        <div class="invovation-content-area" style="text-align: justify;" >
                            <p i18n="@@ab-company-expended-des-1">Branch offices will be opened in different cities for the company's Golden future.</p>
                            <p i18n="@@ab-company-expended-des-2">For which the franchise holder will be able to manage field monitoring by marketing experts in different cities and the Commission will also be set by the marketing experts.</p>
                            <p i18n="@@ab-company-expended-des-3">The work of Company's franchise or dealership will first be started with Tonk, Sawai Madhopur, Dausa, and Jaipur.</p>
                            <p i18n="@@ab-company-expended-des-4">The basic objective of franchise is to provide the information to common man about the facilities that the company provides and to explain to the drivers and the vehicle owners about the original purposes.</p>
                            <!-- <p>Benefits from Local Shopping</p>
							<p>Competitive Pricing - Mostly competitors will offer you building materials at competitve rates. But you have to choose according to quality, quantity & within feasible rates.</p>
							<p>Knowledge & Experience - We have a team of experts with more experience in this field. Our experts are industry professionals and will assist you with your home projects ahead.</p>
							<p>Best Grade Materials & Fast Delivery - Buy best grade materials from us. We will happily deliver our building supply products directly to you within time period.</p> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content-area">
                        <!-- right content area -->
                        <div class="img-wrapper res-margin">
                            <img src="assets/img/123_2.jpg" alt="text" style="height:270px;float:right;" />
                        </div>
                    </div>
                    <!-- //.right content area -->
                </div>
            </div>
        </div>
    </section>