@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,900|Open+Sans:300,400,600,700,800);
@charset "UTF-8";

.section-subtitle {
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  color: #0054ff;
  font-weight: 700
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: .4rem;
  padding-left: .4rem
}

.back-to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  background-color: #0054ff;
  color: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  z-index: 99;
  cursor: pointer
}

.back-to-top i {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

html {
  font-family: "Open Sans", sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 0;
  color: #4e4e62;
  overflow-x: hidden
}

h1 {
  font-size: 60px;
  line-height: 1.0833333333333333
}

h2 {
  font-size: 52px;
  line-height: 1.4444444444444444
}

h3 {
  font-size: 26px;
  line-height: 1.0833333333333333
}

h4 {
  font-size: 22px;
  line-height: 1.2380952380952381
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #151525;
  font-weight: 700;
  font-family: "Merriweather", serif
}

p {
  font-size: 14px;
  color: #151525;
  line-height: 1.625;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto
}

a {
  color: #151525;
  text-decoration: none
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none
}

a i {
  padding: 0 2px
}

img {
  max-width: 100%
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
select:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ddd
}

.alignleft {
  float: left
}

.alignright {
  float: right
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto 1.75em
}

ul {
  margin: 0;
  padding: 0;
  list-style: none
}

.dropdown:hover>.dropdown-menu {
  display: block
}

.dropdown-toggle::after {
  position: absolute;
  right: -10px;
  top: 15px
}

.navbar-area {
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  padding: 0
}

.navbar-area.nav-fixed {
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
  height: 100px;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in
}

.navbar-area .navbar-collapse {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in
}

.navbar-area .navbar-collapse .navbar-nav .nav-item {
  display: inline-block;
  font-size: 14px;
  line-height: 45px;
  font-weight: 700;
  padding: 18px 17px;
  position: relative;
  display: block;
}

.navbar-area .navbar-collapse .navbar-nav .nav-item:first-child {
  padding-left: 0
}

.navbar-area .navbar-collapse .navbar-nav .nav-item:hover .dropdown-menu {
  padding: 0;
  border-radius: 0;
  margin: 0;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  display:block!important;
}
.navbar-area .navbar-collapse .navbar-nav .nav-item:focus .dropdown-menu{
  display: block !important;
}

.navbar-area .navbar-collapse .navbar-nav .nav-item:hover .dropdown-menu .dropdown-item {
  font-size: 14px;
  font-weight: 700;
  color: #737286;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in
}
.demm:focus .dem{
  display: inline-block !important;
}




.navbar-area .navbar-collapse .navbar-nav .nav-item:hover .dropdown-menu .dropdown-item:hover {
  background-color: #0054ff;
  color: #fff
}

.navbar-area .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-family: "Merriweather", serif;
  color: #151525
}

.navbar-area .navbar-collapse .navbar-nav .nav-item .dropdown-menu.show {
  padding: 0;
  border-radius: 0;
  margin-top: 0
}

.navbar-area .navbar-collapse .navbar-nav .nav-item .dropdown-menu.show .dropdown-item {
  font-size: 14px;
  font-weight: 700;
  color: #151525;
  font-family: "Merriweather", serif;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in
}

.navbar-area .navbar-collapse .navbar-nav .nav-item .dropdown-menu.show .dropdown-item:hover {
  background-color: #0054ff;
  color: #fff
}

.navbar-area .navbar-collapse .navbar-nav .nav-item:hover .nav-link {
  color: #0054ff
}

.navbar-area .navbar-collapse .navbar-nav .nav-item:hover .nav-link:before {
  visibility: visible;
  opacity: 1
}

.navbar-area .navbar-collapse .navbar-nav .nav-item:hover .nav-link .subtitle {
  color: #54546a
}

.navbar-area .navbar-collapse .navbar-nav .nav-item:last-child {
  padding-right: 0
}

.navbar-area .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #151525;
  font-size: 16px;
  line-height: 22px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-family: "Merriweather", serif;
  position: relative
}

.navbar-area .navbar-collapse .navbar-nav .nav-item .nav-link.active {
  color: #0054ff
}

.navbar-area .navbar-collapse .navbar-nav .nav-item .nav-link.active:before {
  visibility: visible;
  opacity: 1
}

.navbar-area .navbar-collapse .navbar-nav .nav-item .nav-link:before {
  position: absolute;
  left: 0;
  bottom: -18px;
  width: 100%;
  height: 2px;
  background-color: #0054ff;
  content: '';
  visibility: hidden;
  opacity: 0
}

.navbar-area .navbar-collapse .navbar-nav .nav-item .nav-link .subtitle {
  font-size: 12px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  line-height: 25px;
  display: block;
  color: #54546a
}

.navbar-area .navbar-collapse .navbar-nav .nav-item .nav-link.pl-0 {
  padding-left: 0
}

.navbar-area .navbar-btn-wrapper {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end
}

.navbar-area .navbar-btn-wrapper .boxed-btn {
  width: 200px;
  height: 50px;
  line-height: 50px;
  background-color: rgba(0, 84, 255, .8)
}

.navbar-area .navbar-btn-wrapper .boxed-btn:hover {
  background-color: #0054ff
}

.support-bar-area {
  padding: 10px;
  background: #202020;
  border-bottom: 16px solid #ffaa01
}

.support-bar-area .logo {
  display: block
}

.support-bar-area .support-bar-content {
  text-align: right;
  padding-top: 20px
}

.support-bar-area .support-bar-content ul li {
  display: inline-block;
  margin: 0 20px
}

.support-bar-area .support-bar-content ul li:last-child {
  margin-right: 0
}

.support-bar-area .support-bar-content .single-support-item {
  text-align: left;
  position: relative
}

.support-bar-area .support-bar-content .single-support-item .icon {
  position: absolute;
  left: 0;
  top: 0;
  color: #ffaa01;
  font-size: 17px
}

.support-bar-area .support-bar-content .single-support-item .content {
  padding-left: 30px
}

.support-bar-area .support-bar-content .single-support-item .content .subtitle {
  font-size: 14px;
  line-height: 24px;
  color: #ffaa01
}

.support-bar-area .support-bar-content .single-support-item .content h5 {
  font-size: 15px;
  line-height: 24px;
  color: #fff
}

.single-inovation-area {
  padding: 92px 0 100px 0;
  position: relative
}

.single-inovation-area.about-page {
  padding-top: 62px
}

.single-inovation-area.about-page .bg-text {
  top: 65px
}

.single-inovation-area.bg-color {
  background-color: #f7faff
}

.single-inovation-area.second-item .bg-text {
  left: 16%
}

.single-inovation-area.last-child {
  padding-bottom: 220px
}

.single-inovation-area .bg-text {
  position: absolute;
  top: 40px;
  left: 30%;
  font-size: 150px;
  line-height: 150px;
  color: rgba(21, 21, 37, .06);
  font-weight: 700;
  font-family: "Merriweather", serif
}

.single-inovation-area .img-wrapper {
  padding-top: 10px
}

.single-inovation-area .img-wrapper .inovation-area-img {
  max-width: 466px;
  max-height: 466px;
  border-radius: 50%;
  display: block;
  margin: 0 auto
}

.single-inovation-area .invovation-content-area .title {
  font-size: 53px;
  line-height: 64px;
  margin-bottom: 32px
}

.single-inovation-area .invovation-content-area .subtitle {
  font-size: 30px;
  line-height: 40px;
  color: #151525;
  display: block;
  margin-bottom: 5px
}

.single-inovation-area .invovation-content-area p {
  color: #4e4e62;
  line-height: 24px;
  font-size: 14px;
  padding-right: 55px
}

.single-inovation-area .invovation-content-area .btn-wrapper {
  margin-top: 35px
}

.contact-bottom-inner {
  -webkit-box-shadow: 0 8px 30px 0 rgba(139, 139, 139, .2);
  box-shadow: 0 8px 30px 0 rgba(139, 139, 139, .2);
  border-radius: 5px;
  margin-top: -120px;
  background-color: #fff
}

.contact-bottom-inner .left-content-area #map {
  height: 513px;
  width: 100%
}

.contact-bottom-inner .right-content-area {
  padding: 63px 60px 70px 32px
}

.contact-bottom-inner .right-content-area .title {
  font-size: 40px;
  line-height: 50px;
  color: #0f0f1b;
  margin-bottom: 40px
}

.contact-area {
  background-color: #151525
}

.navbar-collapse ul {
  margin: 0 auto
}

.navbar-collapse {
  background: #ffaa01;
  border-radius: 50px;
  margin-top: -16px
}

.banner {
  position: relative;
  z-index: -9;
  top: -74px
}

.no-gap {
  padding-right: 0px !important;
  padding-left: 0px !important
}

.left-content-area video {
  margin-top: 60px;
  width: 90%;
  float: right;
}

.registration-text {
  margin-top: 50px
}

.registration-text p {
  color: #7a7a7a
}

.registration-form input {
  margin-bottom: 15px;
  border: 1px solid #ffaa01;
  margin-right: 10px
}

.registration-form select {
  margin-bottom: 15px;
  border: 1px solid #ffaa01;
  width: 100%;
  height: 40px
}

#base-input {
  border: 0
}

#base-input1 {
  border: 0
}

.registration-form label {
  font-size: 15px;
  font-weight: 700;
  color: #000;
  margin-top: 20px
}

.registration-button {
  background: #ffaa01 !important;
  color: #fff;
  margin-bottom: 50px
}

.registration-button:hover {
  color: #000
}

.registration-text h3 {
  font-size: 19px
}

.contact-heading h2 {
  text-align: center;
  font-size: 40px;
  color: #ffaa01
}

.contact-detail {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
  padding-left: 30px !important;
  background-color: #ffaa01 !important;
  margin-top: 70px
}

.contact-form label {
  font-size: 15px;
  font-weight: 700;
  color: #000
}

.contact-form input {
  background: #f5f5f5;
  border-color: #f5f5f5
}

.contact-form textarea {
  background: #f5f5f5;
  border-color: #f5f5f5
}

.contact-form .contact-button {
  margin: 0 auto;
  display: block;
  background: #ffaa01 !important;
  padding: 10px 50px;
  margin-bottom: 50px;
  margin-top: 30px
}

.contact-map {
  margin-top: 50px
}

@media screen and (max-width:990px) {
  .navbar {
    position: absolute !important;
    top: 10px;
    right: 0
  }

  .support-bar-area img {
    width: 150px;
    float: left
  }

  .navbar-collapse {
    border-radius: 0px !important;
    margin-top: 0
  }
}

.alert-danger {
  color: red !important;
  background-color: transparent !important;
  border-color: red !important
}

.alert-success {
  color: #155724 !important;
  background-color: transparent !important;
  border-color: #155724 !important
}

.mess-cont {
  display: table;
  height: 300px;
  text-align: center
}

.mess-cont p {
  margin-top: 100px;
  color: grey;
  font-size: larger
}
