/*p {
  line-height: 20px;
  font-size: 16px;
  padding: 0px 25px;
  text-align: justify;
}

hr {
  border-top: 1px solid rgb(35, 77, 122);
}

h3 {
  padding-left: 1%;
  text-decoration: underline;
}

ul,
ol {
  font-size: 16px;
}
*/