  <div class="container" style="padding: 5% 0%;">
    <h1 style="text-align: center; color: #234d7a; text-transform: uppercase;">Privacy Policy</h1>
    <hr>
    <p>DV Babba Project Private Limited is committed to respect privacy of every person, including employees of the Company, business partners as well as vendors, dealers and all others who share their sensitive personal data or information (‘Sensitive Personal Information’) with the Company.
    </p>
    <p>This privacy policy (‘Policy’) is applicable to employees, businesses partners/associates, vendors, dealers, customers etc. (‘Information Providers’), who disclose Sensitive Personal Information to the Company for lawful business requirements of the Company.
    </p>
    <p>The Company shall ensure confidentiality of such Sensitive Personal Information and grievances. The Information Providers have the option of not providing their Sensitive Personal Information sought to be collected if they do not agree with this Policy or even otherwise. Further, the Information Providers also have the option to withdraw their consent given earlier, provided such withdrawal of consent is intimated in writing.
    </p>
    <h3>Sharing and Transferring of Sensitive Personal Information:</h3>
    <p>The Company may need to share the Sensitive Personal Information with group companies within and outside India, business associates and/ or third parties within and outside India in connection with the lawful purposes, as mentioned above.</p>
    <h3>Security</h3>
    <p>The Company has adopted reasonable security practices and procedure to ensure that the Sensitive Personal Information is collected and preserved in a secured manner. In case the Information Providers wish to know more details about the adopted reasonable security practices and procedures, they may contact the designated person for the same.</p>
    <h3>Data Retention:</h3>
    <p>It is the Company’s policy to retain Sensitive Personal Information of the Information Providers only for as long as the Company believes it to be necessary for the purposes for which such Sensitive Personal Information was collected, subject to any legal requirements for the information to be retained for longer period, if any.</p>
    <h3>Changes to the Privacy Policy</h3>
    <p>The Company reserves the right to revise and update this Privacy Policy at any time without expressly informing the Information Providers. Any such revisions will be effective on and from the date of posting the same to the intranet/internet website of the Company, and will apply to all information collected both prior to and following the effective date.</p>
    <h3>Questions & Queries </h3>
    <p> If you have any question or query about our Privacy Policy, please e-mail your questions to us at:- <b style="color: #234d7a;">info@babbabazri.com</b></p>
    <hr>
  </div>