<section class="support-bar-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <a routerLink="/" data-title="home" class="logo"><img src="assets/img/logo.png" alt="logo"></a>
                </div>
                <div class="col-lg-9 col-sm-12">
                    <div class="support-bar-content">
                        <!-- support bar content -->
                        <ul>
                            <li>
                                <div class="single-support-item">
                                    <!-- single support item -->
                                    <div class="icon">
                                        <i class="fas fa-check-square"></i>
                                    </div>
                                    <div class="content">
                                        <!-- content -->
                                        <span class="subtitle" i18n="@@header-total-viewers">Total Viewers</span>
                                        <h5 *ngIf="visitorsCount" >{{visitorsCount}}</h5>
                                    </div>
                                    <!-- /.content -->
                                </div>
                                <!-- /.single support item -->
                            </li>
                            <li>
                                <div class="single-support-item">
                                    <!-- single support item -->
                                    <div class="icon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <div class="content">
                                        <!-- content -->
                                        <span class="subtitle" i18n="@@header-call-us">Call us</span>
                                        <h5>
                                            8377-830-830,
                                         <br>
                                            8000-637-602
                                        </h5>
                                    </div>
                                    <!-- /.content -->
                                </div>
                                <!-- /.single support item -->
                            </li>
                            <li>
                                <div class="single-support-item">
                                    <!-- single support item -->
                                    <div class="icon">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                    <div class="content">
                                        <!-- content -->
                                        <span class="subtitle" i18n="@@header-get-in-touch">Get In Touch</span>
                                        <a>
                                            <!-- <h5>babbabazri@babbabazri.com</h5> -->
                                            <h5>info@babbabazri.com</h5>
                                        </a>
                                    </div>
                                    <!-- /.content -->
                                </div>
                                <!-- /.single support item -->
                            </li>
                        </ul>
                    </div>
                    <!-- /.support bar content -->
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- support bar area end  -->
    <!-- navbar area start -->
    <nav class="navbar navbar-area navbar-expand-lg navbar-light ">
        <div class="container">
            <div class="collapse navbar-collapse" id="flybuzzNav">
                <!-- navbar collapse start -->
                <ul class="navbar-nav">
                    <!-- navbar- nav -->
                    <li class="nav-item">
                        <a class="nav-link pl-0" routerLink="/" (click)="toggleDropdown()" i18n="@@header-home">Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="about-us" (click)="toggleDropdown()" i18n="@@header-about-us">About Us</a>
                    </li>
                    <!--<li class="nav-item">
                        <a class="nav-link" (click)="toggleDropdown()" >Services</a>
                    </li>-->
					
                    <li class="nav-item dropdown" *ngIf="isLogin" >
                        <a class="nav-link dropdown-toggle"  data-toggle="dropdown" i18n="@@header-registration">Registration</a>
                        <div class="dropdown-menu">
                            <a routerLink="employment" class="dropdown-item" (click)="toggleDropdown()" i18n="@@header-employment">EMPLOYMENT</a>
                            <a routerLink="dealership" class="dropdown-item" (click)="toggleDropdown()" i18n="@@header-apply-for-dealership">APPLY FOR DEALERSHIP</a>
                            <a routerLink="vehicle" class="dropdown-item" (click)="toggleDropdown()" i18n="@@header-vehicle-registration">VEHICLE REGISTRATION</a>
                        </div>
                    </li>

                    
                    <li class="nav-item">
                        <a class="nav-link" routerLink="contact-us" (click)="toggleDropdown()" i18n="@@header-contact-us">Contact </a>
                    </li>
					<li class="nav-item" *ngIf="isLogin" >
                        <a class="nav-link" routerLink="dashboard" i18n="@@header-dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item" *ngIf="isLogin" >
                        <a class="nav-link" (click)="openChangePassword(kaiCPForm)" i18n="@@header-change-password">Change Password</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" (click)="openLoginModal();toggleDropdown();"  *ngIf="!isLogin" i18n="@@header-login">Log In</a>
						<a class="nav-link" (click)="logOut();toggleDropdown();" *ngIf="isLogin" i18n="@@header-logout">Log Out</a>
                    </li>
					<!-- <li class="nav-item dropdown demm" *ngIf="!isLogin" > -->
                    <li class="nav-item dropdown demm" [hidden]="isLogin" id="flip1">    
                        <a class="nav-link dropdown-toggle "  data-toggle="dropdown" i18n="@@header-sign-up">Sign Up</a>
                        <div class="dropdown-menu dem" id="panel1">
                            <a class="dropdown-item" (click)="openUserSignUpModal();toggleDropdown();" i18n="@@header-user">User</a>
                            <a class="dropdown-item" (click)="openAgentSignUpModal();toggleDropdown();" i18n="@@header-agent">Agent</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown demm" id="flip2">
                        <a class="nav-link dropdown-toggle"  data-toggle="dropdown" i18n="@@header-language">Language</a>
                        <div class="dropdown-menu dem" id="panel2">
                            <a  href="/hi{{getCurrentRoute()}}" class="dropdown-item" i18n="@@header-language-hindi">Hindi</a>
                            <a href="/en{{getCurrentRoute()}}" class="dropdown-item" i18n="@@header-language-english">English</a>
                        </div>
                    </li>
                </ul>
                <!-- /.navbar-nav -->
            </div>
            <!-- /.navbar btn wrapper -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#flybuzzNav" aria-controls="flybuzzNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- navbar collapse end -->
        </div>
    </nav>
	<!-- (loginDone)="navigateToSame()" -->
    <app-login  #loginModal (reset)="openResetModal($event)" (resendOtp)="resendOtp($event)" (loginDone)="setAuthCredential();" ></app-login>
	<app-sign-up #signupModal (openOtpModal)="openOtpModal($event)" ></app-sign-up> 
	<app-sign-up-agent #signupAgentModal (openOtpModal)="openOtpModal($event)"  ></app-sign-up-agent>
	<app-otp #otp></app-otp>
	<app-rah-reset-password-request (openResetOtpModal)="openResetOtpModal($event)" #resetRequest></app-rah-reset-password-request>   
    <app-reset-otp (openCPModal)="openCPModal($event)" #rahResetOtp></app-reset-otp>
    <app-rah-reset-password #rahResetPass></app-rah-reset-password>
<div style="min-height: 100vh;">    
<router-outlet></router-outlet>
</div>
<section class="footer-copyright" style="width:100%;" >
	<div class="container" >
		<a href="#" class="top-scroll bounce animated" style="display: none;"><i class="fa fa-hand-o-up"></i></a>
		<div class="row padding-top-20 padding-bottom-10 ">
			<div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 text-left">
				<p></p>
			</div>
			<div class="col-md-6 col-lg-6 col-sm-6 col-xs-6"></div>
		</div>
	</div>
</section>

<div class="modal fade" id="kaiCPModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" i18n="@@header-change-password">Change Password</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                
            </div>
            <form (submit)="changePassword(kaiCPForm)" #kaiCPForm="ngForm">
                <div class="modal-body">
                    
                        <div class="alert alert-danger" *ngIf="cpResError.isError">
                            {{cpResError.msg}}
                        </div>
                        <div class="alert alert-success" *ngIf="cpResError.isSuccess">
                            {{cpResError.successMsg}}
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="email" i18n="@@header-old-password">Old Password</label>
                                <input type="password" autocomplete="off" class="form-control placeholder-no-fix" i18n-placeholder="@@header-old-password"  [(ngModel)]="passObj.oldPassword" [required]="true" name="oldPassword" placeholder="Old Password" #oldPassword="ngModel">

                                <div class="error-div" *ngIf="kaiCPForm.submitted && oldPassword.errors?.required" i18n="@@valid-required">
                                   Old Password is required
                                </div>

                            </div>                      
                            <div class="col-sm-12 form-group">
                                <label for="email" i18n="@@header-new-password">New Password</label>
                                <input type="password" autocomplete="off" class="form-control placeholder-no-fix"  [(ngModel)]="passObj.newPassword" [required]="true" name="newPassword" i18n-placeholder="@@header-new-password" placeholder="New Password" #newPassword="ngModel">

                                <div class="error-div" *ngIf="kaiCPForm.submitted && newPassword.errors?.required" i18n="@@valid-required">
                                   New Password is required
                                </div>

                            </div>                      
                        </div>  
                        <!-- <div class="row">
                            <div class="col-sm-12">
                                <button class="btn btn-theme rah-right"  data-loading-text="submit..." id="kaiCPBtn" type="submit">Submit</button>
                            </div>  
                        </div>   -->
                    
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"  data-loading-text="submit..." id="kaiCPBtn" i18n="@@btn-change">change</button>
                    <button type="button" data-dismiss="modal" class="btn btn-secondary" i18n="@@btn-cancel">Cancel</button>
                </div>
            </form>    
        </div>
    </div>
</div>