<div class="container mess-cont" *ngIf="!isForm" >
	<p i18n="@@dealer-already-created">You have created the form before, try login with another Email Id to apply for dealership</p>
</div>
<div class="container" *ngIf="isForm && dealershipForm" >
	<div class="row">
		<div class="col-md-12">
			<div class="registration-text">
				<h3 i18n="@@field-baba-bajri-ltd">D V Babba Project Pvt. Ltd.</h3>
				<p i18n="@@dealer-sub-heading-line">D V Babba Project Pvt. Ltd. is going to set up its market in various cities, whose potential launch date is August 7, 2018 (If successful in fulfilling the government documentation, it will be launched in the market till August 7, 2018. ) And will start its services smoothly, for which the branch office or franchisee or dealership office in different cities I will be able to make a application for this as it is inviting the application as follows:</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<form class="registration-form" novalidate [formGroup]="dealershipForm" (ngSubmit)="onSubmit()" >
				<div class="form-group">
					<label for="email"><ng-container i18n="@@field-email">EMAIL</ng-container> *</label>
					<input type="text" class="form-control" i18n-placeholder="@@placeholder-email" id="email" formControlName="email" placeholder="Enter email" name="email" />
				</div>
				<div class="error-div" *ngIf="email.errors && (email.dirty || email.touched)" >
					<p *ngIf="email.errors.required" i18n="@@valid-required">Field is required</p>
					<p *ngIf="email.errors.validEmail" i18n="@@valid-email">Invalid Email</p>
				</div>
				<div class="form-group" >
					<label for="name" ><ng-container i18n="@@field-name-firm-name">NAME/FIRM NAME</ng-container> *</label>
					<input type="text" formControlName="nameOrFirm" i18n-placeholder="@@placeholder-name" class="form-control" id="name" placeholder="Your Name" name="name" />
				</div>
				<div class="error-div" *ngIf="nameOrFirm.errors && (nameOrFirm.dirty || nameOrFirm.touched)" >
					<p *ngIf="nameOrFirm.errors.required" i18n="@@valid-required">Field is required</p>
				</div>
				<div class="form-group">
					<label for="name"><ng-container i18n="@@field-father-name-if-individual">FATHER NAME(IF INDIVIDUAL)</ng-container> *</label>
					<input type="text" formControlName="fatherName" i18n-placeholder="@@placeholder-father-name" class="form-control" placeholder="Father Name" />
				</div>
				<div class="error-div" *ngIf="fatherName.errors && (fatherName.dirty || fatherName.touched)" >
					<p *ngIf="fatherName.errors.required" i18n="@@valid-required">Field is required</p>
				</div>
				<div class="form-group">
					<label for="number"><ng-container i18n="@@field-phone-number">PHONE NUMBER</ng-container>*</label>
					<input type="text" formControlName="contactNo" i18n-placeholder="@@placeholder-phone-number" class="form-control" placeholder="Phone Number" />
				</div>
				<div class="error-div" *ngIf="contactNo.errors && (contactNo.dirty || contactNo.touched)" >
					<p *ngIf="contactNo.errors.required" i18n="@@valid-required">Field is required</p>
					<p *ngIf="contactNo.errors.validMobile" i18n="@@valid-phone-number">Invalid phone number</p>
				</div>
				<div formGroupName="postalAddress" >
					<div class="form-group">
						<label for="address"><ng-container i18n="@@dealer-postal-address">POSTAL ADDRESS</ng-container> *</label>
						<input type="text" class="form-control" i18n-placeholder="@@dealer-postal-address-placeholder" formControlName="value" placeholder="Permanent Address">
					</div>
					<div class="error-div" *ngIf="value.errors && (value.dirty || value.touched)" >
						<p *ngIf="value.errors.required" i18n="@@valid-required">Field is required</p>
					</div>
					<div class="form-group">
						<label for="city"><ng-container i18n="@@field-district">DISTRICT</ng-container> *</label>
						<input type="text" class="form-control" i18n-placeholder="@@placeholder-district" formControlName="district" placeholder="District">
					</div>
					<div class="error-div" *ngIf="district.errors && (district.dirty || district.touched)" >
						<p *ngIf="district.errors.required" i18n="@@valid-required">Field is required</p>
					</div>
					<div class="form-group">
						<label for="city"><ng-container i18n="@@field-city">CITY NAME</ng-container> *</label>
						<input type="text" class="form-control" i18n-placeholder="@@placeholder-city" formControlName="city" placeholder="City Name">
					</div>
					<div class="error-div" *ngIf="city.errors && (city.dirty || city.touched)" >
						<p *ngIf="city.errors.required" i18n="@@valid-required">Field is required</p>
					</div>
					<div class="form-group">
						<label for="city"><ng-container i18n="@@field-tehsil">TEHSIL</ng-container> *</label>
						<input type="text" class="form-control" i18n-placeholder="@@placeholder-tehsil" formControlName="tehsil" placeholder="Tehsil" />
					</div>
					<div class="error-div" *ngIf="tehsil.errors && (tehsil.dirty || tehsil.touched)" >
						<p *ngIf="tehsil.errors.required" i18n="@@valid-required">Field is required</p>
					</div>
					<div class="form-group">
                        <label for="number"><ng-container i18n="@@field-state">STATE</ng-container> *</label>
                        <select class="selectpicker" formControlName="state" >
                            <option *ngFor="let state of stateList;" [value]="state" >
                            	<span *ngIf="localeId != 'hi'">{{state}}</span>
                            	<span *ngIf="localeId == 'hi'">{{stateListHiEn[state]}}</span>
                            </option>
                        </select>
                    </div>
				</div>
				
				<div formGroupName="shopAddress" >
					<div class="form-group">
						<label for="city"><ng-container i18n="@@dealer-where-open-shop">WHERE DO YOU WANT TO OPEN BABBA BAZRI SHOP</ng-container> *</label>
						<input type="text" formControlName="value1" i18n-placeholder="@@placeholder-your-answer" class="form-control" placeholder="Your answer">
					</div>
					<div class="error-div" *ngIf="value1.errors && (value1.dirty || value1.touched)" >
						<p *ngIf="value1.errors.required" i18n="@@valid-required">Field is required</p>
					</div>
					<div class="form-group">
						<label for="city"><ng-container i18n="@@field-district">DISTRICT</ng-container> *</label>
						<input type="text" class="form-control" i18n-placeholder="@@placeholder-district" formControlName="district1" placeholder="District">
					</div>
					<div class="error-div" *ngIf="district1.errors && (district1.dirty || district1.touched)" >
						<p *ngIf="district1.errors.required" i18n="@@valid-required">Field is required</p>
					</div>
					<div class="form-group">
						<label for="city"><ng-container i18n="@@field-city">CITY NAME</ng-container> *</label>
						<input type="text" class="form-control" i18n-placeholder="@@placeholder-city" formControlName="city1" placeholder="City Name">
					</div>
					<div class="error-div" *ngIf="city1.errors && (city1.dirty || city1.touched)" >
						<p *ngIf="city1.errors.required" i18n="@@valid-required">Field is required</p>
					</div>
					<div class="form-group">
						<label for="city"><ng-container i18n="@@field-tehsil">TEHSIL</ng-container> *</label>
						<input type="text" class="form-control" i18n-placeholder="@@placeholder-tehsil" formControlName="tehsil1" placeholder="Tehsil" />
					</div>
					<div class="error-div" *ngIf="tehsil1.errors && (tehsil1.dirty || tehsil1.touched)" >
						<p *ngIf="tehsil1.errors.required" i18n="@@valid-required">Field is required</p>
					</div>
					<div class="form-group">
                        <label for="number"><ng-container i18n="@@field-state">STATE</ng-container> *</label>
                        <select class="selectpicker" formControlName="state1" >
                            <option *ngFor="let state of stateList;" [value]="state" >
                            	<span *ngIf="localeId != 'hi'">{{state}}</span>
                            	<span *ngIf="localeId == 'hi'">{{stateListHiEn[state]}}</span>
                            </option>
                        </select>
                    </div>
				</div>
				<div class="form-group">
					<label i18n="@@dealer-turnover-label">EXISTING BUSINESS TURNOVER(IF APPLICABLE)</label>
					<input type="text" formControlName="turnover" i18n-placeholder="@@placeholder-your-answer" class="form-control" placeholder="Your answer" />
				</div>
				<div class="error-div" *ngIf="turnover.errors && (turnover.dirty || turnover.touched)" >
					<p *ngIf="turnover.errors.validWorkEx" i18n="@@valid-amount">Invalid Amount</p>
				</div>
				<div class="form-group">
					<label i18n="@@dealer-other-mention-detail">IF OTHER MENTION DETAIL</label>
					<input type="text" class="form-control" i18n-placeholder="@@placeholder-your-answer" formControlName="otherDetail" placeholder="Your answer" />
				</div>
				<div class="checkbox">
					<label i18n="@@dealer-present-business-type">WHICH TYPE OF BUSINESS ARE YOU DOING PRESENT TIME </label>
					<br>
					<input (change)="changeType('CEMENT BUSINESS',$event)" type="checkbox"  value="CEMENT BUSINESS" name="remember" ><ng-container i18n="@@dealer-present-buss-opt-cement-business">CEMENT BUSINESS</ng-container>
					<br>
					<input (change)="changeType('STEEL BAR SHOP',$event)" type="checkbox" value="STEEL BAR SHOP" name="remember"><ng-container i18n="@@dealer-present-buss-opt-steel-bar-shop">STEEL BAR SHOP</ng-container>
					<br>
					<input (change)="changeType('BRICKS/ RODI/GITTI',$event)" type="checkbox" value="BRICKS/ RODI/GITTI" name="remember" ><ng-container i18n="@@dealer-present-buss-opt-bricks-rodi-gitti">BRICKS/ RODI/GITTI</ng-container>
					<br>
					<input (change)="changeType('BUILDING CONTRACTOR/ROAD CONTRACTOR',$event)" type="checkbox" value="BUILDING CONTRACTOR/ROAD CONTRACTOR" name="remember"><ng-container i18n="@@dealer-present-buss-opt-road-constructor">BUILDING CONTRACTOR/ROAD CONTRACTOR</ng-container>
					<br>
					<input (change)="changeType('OTHER',$event)" type="checkbox" value="OTHER" name="remember"><ng-container i18n="@@dealer-present-buss-opt-other">OTHER</ng-container>
				</div>
				<div class="form-group" *ngIf="toShowInput" >
					<input type="text" class="form-control" i18n-placeholder="@@placeholder-your-answer" placeholder="Your answer" formControlName="other" />
				</div>
				<div class="form-group">
					<label for="city" i18n="@@field-gst-no">GST NO.(IF APPLICABLE)</label>
					<input type="text" class="form-control" i18n-placeholder="@@placeholder-your-answer" placeholder="Your answer" formControlName="gstNo" />
				</div>
				<div class="form-group">
					<label for="city" i18n="@@dealer-investment-amount">HOW MUCH DO YOU WANT TO INVESTMENT IF YOU WANT TO START A BUSINESS (IN CASE YOU EARN MORE THAN RS. 15000  PER DAY )</label>
					<input type="text" class="form-control" i18n-placeholder="@@placeholder-your-answer" formControlName="investAmount" placeholder="Your answer">
				</div>
				<div class="error-div" *ngIf="investAmount.errors && (investAmount.dirty || investAmount.touched)" >
					<p *ngIf="investAmount.errors.validWorkEx" i18n="@@valid-amount">Invalid Amount</p>
				</div>
				<div class="form-group">
					<label i18n="@@dealer-photo">IF YOU HAVE SHOP THEN ATTACH A PHOTO</label>
					<br>
					<input type="file" rah-file-dir accept="image/*" (assignValue)="files.shopImg = $event" id="base-input" class=" form-style-base input100" placeholder="No file selected">
				</div>
				<div *ngIf="!hide" >
					<div class="alert alert-danger" *ngIf="errSuccObj.error" role="alert">{{errSuccObj.error | titlecase }}</div>
					<div class="alert alert-success" *ngIf="errSuccObj.success" role="alert">{{errSuccObj.success | titlecase }}</div>
				</div>
				<button type="submit" [disabled]="disabled" class="btn btn-default registration-button" i18n="@@btn-submit">Submit</button>
			</form>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>