<div class="container">  
	<div class="row">
		<div class="col-md-12">
			<div class="contact-heading">
				<h2 i18n="@@header-about-us">ABOUT US</h2>
			</div>
		</div>
	</div>
	<div class="row"  >
		<div class="col-md-12">
			<h4 style="text-align : center;" ><b i18n="@@ab-header-sub-title">D V Babba Project Private Limited</b></h4>
		</div>
	</div>
	<div class="row" >
		<div class="col-md-12">
			<h5><b i18n="@@ab-remote-area-title">D V Babba Project Private Limited has Presented the Story of the Remote Areas:-</b></h5>
			<p i18n="@@ab-remote-area-description">There is a quirk of nature, which gives the benefit, the other one, the common tree or the milky cow. The man who annoys God too, the pass down to get the fruit from the mango tree breaks down to the common by giving the human stone, as if the cow is thirsty after milk, as a small child, hungry and thirsty He kills his own mother's feet, thereby hardening what life gives him only when it gets upset. It is also the most recent of rivers, quenched the thirst of people with serene water, and housing for people with venting soils, sand or stones, different types of people get their June 2 bread from mining work in the same area but so hard to After that, they also create high-rise buildings in big-big cities but have to mohtaj with facilities other than the June 2 bread for themselves, they cannot find the roof for the head, no clothes to wear. The arrival of commuters does not even have the facilities of commuting, what should be done by the people living in the area. For the basic amenities, the government also does not bring these areas a tempting opportunity in their budget, always in remote areas It is made to be a center of neglect, even if the chambal's rugged forest or the hope of a forest is formed.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h5><b i18n="@@ab-community-title">Work in the Community Interest Made by D V Babba Project Pvt Ltd.</b></h5>
			<p i18n="@@ab-community-description">We have come to you for a plan in which the development of these sectors will be achieved by Babba Project Pvt Ltd, which will also receive income from the gross profit of 30% of the money in the sector for growth. Education system will be strengthened in the areas, all citizens residing in these regions will be provided with opportunities for employment, as well as various infrastructure facilities such as housing facilities, medicine, high quality food, community building, means of traffic, poor They will be encouraged by giving children the education and scholarship for them.</p>
		</div>
	</div>
	<div class="row" >
		<div class="col-md-12">
			<h4 style="text-align:center;" ><b i18n="@@ab-mission-vision">Mission & Vision</b></h4>
		</div>
	</div>
	<div class="row" >
		<div class="col-md-12">
			<h5><b i18n="@@ab-company-obj-title">D V Babba Project Pvt Ltd The Basic Objective of the Company:-</b></h5>
			<p i18n="@@ab-company-obj-description">D V Babba Project Pvt. Ltd. The basic objective of building materials such as gravel, ballast, scree, dust, cement, water and so on, is easy to deliver to the consumer from producer to make the facilities available. These building materials will be available through us in a comfortable and affordable rates and we will provide home delivery.</p>
		</div>
	</div>
	<div class="row" >
		<div class="col-md-12">
			<h5><b i18n="@@ab-contact-formula-title">Contact Formula</b></h5>
			<p i18n="@@ab-contact-formula-description">To contact to D V Babba Project Pvt Ltd, You can contact at our customer service number 8377-830-830. Upon contacting this number, you may also choose your options such as gravel cement, our consumer service officer will contact you immediately.</p>
		</div>
	</div>
	<div class="row" >
		<div class="col-md-12">
			<h5><b i18n="@@ab-company-expended-title">The Company will be Expanded in the Following Way:-</b></h5>
			<p i18n="@@ab-company-expended-des-1">Branch offices will be opened in different cities for the company's Golden future.</p>
			<p i18n="@@ab-company-expended-des-2">For which the franchise holder will be able to manage field monitoring by marketing experts in different cities and the Commission will also be set by the marketing experts.</p>
			<p i18n="@@ab-company-expended-des-3">The work of Company's franchise or dealership will first be started with Tonk, Sawai Madhopur, Dausa, and Jaipur.</p>
			<p i18n="@@ab-company-expended-des-4">The basic objective of franchise is to provide the information to common man about the facilities that the company provides and to explain to the drivers and the vehicle owners about the original purposes.</p>
		</div>
	</div>
</div>