<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<form class="login-form" novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="loginForm" >
					<div class="select-box">
						<label class="container1" ><ng-container i18n="@@header-user">User</ng-container>
							<input type="radio" value="webuser" name="realm" formControlName="realm" />
							<span class="checkmark"></span>
						</label>
						<label class="container1" ><ng-container i18n="@@header-agent">Agent</ng-container>
							<input type="radio" value="emitra" name="realm" formControlName="realm" />
							<span class="checkmark"></span>
						</label>
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1"><ng-container  i18n="@@field-email">Email</ng-container></label>
						<input type="text" class="form-control" formControlName="email" i18n-placeholder="@@placeholder-email" placeholder="Enter Email Id" />
					</div>
					<div class="error-div" *ngIf="email.errors && ( email.dirty || email.touched )" >
						<p *ngIf="email.errors.required" i18n="@@valid-required">Field is required</p>
						<p *ngIf="email.errors.validEmail" i18n="@@valid-email">Invalid Email Id</p>
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1" i18n="@@field-password">Password</label>
						<input type="password" class="form-control" i18n-placeholder="@@placeholder-password" formControlName="password" placeholder="Password" />
					</div>
					<div class="error-div" *ngIf="password.errors && ( password.dirty || password.touched )" >
						<p *ngIf="password.errors.required" i18n="@@valid-required">Field is required</p>
					</div>
					<a href="javascript:;" (click)="resetPassword()" style="float: right" i18n="@@login-forgotten-password">Forgotten password?</a><br />

					
					<div class="alert alert-danger" *ngIf="errSuccObj.error" role="alert">{{errSuccObj.error}}</div>
					<div class="alert alert-success" *ngIf="errSuccObj.success" role="alert">{{errSuccObj.success | titlecase }}</div>
					<button type="submit" class="btn btn-primary" i18n="@@btn-submit">Submit</button>
				</form>
			</div>
			
		</div>
	</div>
</div>