<div class="modal fade" id="rah-reset-password-request-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header otp-modal-header">
				<h4 class="modal-title" i18n="@@fp-2-sub-heading">Reset Password</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body otp-modal-body">
				<form (submit)="resetRequest(forgetForm)" #forgetForm="ngForm">
		            <div class="modal-body">
		              <div class="alert alert-danger" *ngIf="actionResError.isError">
		                {{actionResError.msg}}
		              </div>
		              <p i18n="@@fp-2-sub-heading">Enter your mobile number below to reset your password.</p>
		              <!-- pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" -->
		              <input type="text" autocomplete="off" class="form-control placeholder-no-fix"  [(ngModel)]="user.mobile" [required]="true" name="resMobile" i18n-placeholder="@@placeholder-mobile" placeholder="Mobile number" #resMobile="ngModel">

		              <div class="error-div" *ngIf="forgetForm.submitted && resMobile.errors?.required" i18n="@@valid-required">
		                <p>This field is required</p>
		              </div>
		              <!-- <div class="error-div" *ngIf="forgetForm._submitted && resEmail.errors?.pattern">
		                  Invalid email
		              </div> -->
		            </div>
		            

		            <div class="modal-footer">
		              <button data-dismiss="modal" class="btn btn-default" i18n="@@btn-cancel" type="button">Cancel</button>
		              <button class="btn btn-theme"  data-loading-text="submit..." i18n="@@btn-submit" id="resetBtn" type="submit">Submit</button>
		            </div>
		        </form>    
			</div>
		</div>
	</div>
</div>