<div class="modal fade" id="rah-reset-password-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header otp-modal-header">
				<h4 class="modal-title" i18n="@@fp-2-reset-password">Reset Password</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body otp-modal-body">
				<form (submit)="resetPassword(cpForm)" #cpForm="ngForm">
		            <div class="modal-body">
		              <div class="alert alert-danger" *ngIf="actionResError.isError">
		                {{actionResError.msg}}
		              </div>
		              <div class="alert alert-success" *ngIf="actionResError.isSuccess">
		                {{actionResError.successMsg}}
		              </div>
		              <p i18n="@@fp-2-enter-password-text">Enter your new Password.</p>
		              <div class="form-group">
						<label for="password" i18n="@@field-password">Password</label>
						<input type="password" autocomplete="off" id="password" class="form-control"  [(ngModel)]="user.password" [required]="true" name="password" placeholder="Password" #password="ngModel">
						<div class="error-div" *ngIf="cpForm.submitted && password.errors?.required" i18n="@@valid-required">
			                Password is required
			            </div>
					  </div>
					  <div class="form-group">
						<label for="confirmPassword" i18n="@@field-confirm-password">Confirm Password</label>
						<input type="password" id="confirmPassword" autocomplete="off" class="form-control"  [(ngModel)]="user.conPassword" [required]="true" name="confirmPassword" placeholder="Password" #confirmPassword="ngModel">
						<div class="error-div" *ngIf="cpForm.submitted && confirmPassword.errors?.required" i18n="@@valid-required">
			                Confirm password is required
			            </div>
					  </div>
		            </div>
		            <div class="modal-footer">
		              <button data-dismiss="modal" class="btn btn-default" type="button" i18n="@@btn-cancel">Cancel</button>
		              <button class="btn btn-theme"  data-loading-text="submit..." id="cpBtn" type="submit" i18n="@@btn-submit">Submit</button>
		            </div>
		        </form>    
			</div>
		</div>
	</div>
</div>