<div class="container mess-cont" *ngIf="!isForm" >
	<p i18n="@@vehicle-already-created">You have created the form before, try login with another Email Id to register a vehicle</p>
</div>
<div class="container" *ngIf="isForm && vehicleForm" >
	<div class="row">
		<div class="col-md-12">
			<div class="registration-text">
				<h3 i18n="@@field-baba-bajri-ltd">D V Babba Project Pvt. Ltd.</h3>
				<p i18n="@@vehicle-sub-heading-line">DV Babba Project Pvt. Ltd. is going to launch its business soon in India, whose launch date is August 7, 2018. In his business, he wants to defeat various types of vehicles, for which the application should be made in the following format and the benefit Get to work to reach as many people as possible</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<form class="registration-form" novalidate [formGroup]="vehicleForm" (ngSubmit)="onSubmit()" >
				<div class="form-group">
					<label for="email"><ng-container i18n="@@field-email">EMAIL</ng-container> *</label>
					<input type="text" class="form-control" i18n-placeholder="@@placeholder-email" id="email" formControlName="email" placeholder="Enter email" name="email" />
				</div>
				<div class="error-div" *ngIf="email.errors && (email.dirty || email.touched)" >
					<p *ngIf="email.errors.required" i18n="@@valid-required">Field is required</p>
					<p *ngIf="email.errors.validEmail"  i18n="@@valid-email">Invalid Email</p>
				</div>
				<div class="form-group">
					<label for="email"><ng-container i18n="@@vehicle-owner-name-firm-name">OWNER NAME /FIRM NAME</ng-container> *</label>
					<input type="text" name="ownerOrFirm" i18n-placeholder="@@placeholder-your-answer" class="form-control" placeholder="Your answer" formControlName="ownerOrFirm" />
				</div>
				<div class="error-div" *ngIf="ownerOrFirm.errors && (ownerOrFirm.dirty || ownerOrFirm.touched)" >
					<p *ngIf="ownerOrFirm.errors.required" i18n="@@valid-required">Field is required</p>
				</div>
				<div class="form-group">
					<label for="name"><ng-container i18n="@@field-father-name-if-individual">FATHER NAME (If applicable)</ng-container> *</label>
					<input type="text" class="form-control" i18n="@@placeholder-father-name" name="fatherName" placeholder="Father Name" formControlName="fatherName" />
				</div>
				<div class="error-div" *ngIf="fatherName.errors && (fatherName.dirty || fatherName.touched)" >
					<p *ngIf="fatherName.errors.required" i18n="@@valid-required">Field is required</p>
				</div>
				<div class="form-group">
					<label for="number"><ng-container i18n="@@field-state">STATE</ng-container> *</label>
					<select class="selectpicker" formControlName="state" >
						<option *ngFor="let state of stateList;" [value]="state" >
							<span *ngIf="localeId != 'hi'">{{state}}</span>
                            <span *ngIf="localeId == 'hi'">{{stateListHindi[state]}}</span>
						</option>
					</select>
				</div>
				<div class="error-div" *ngIf="state.errors && (state.dirty || state.touched)" >
					<p *ngIf="state.errors.required" i18n="@@valid-required">Field is required</p>
				</div>
				<div class="form-group">
					<label for="city"><ng-container i18n="@@field-district">DISTRICT</ng-container> *</label>
					<input type="text" class="form-control" i18n-placeholder="@@placeholder-district" name="district" placeholder="District" formControlName="district" />
				</div>
				<div class="error-div" *ngIf="district.errors && (district.dirty || district.touched)" >
					<p *ngIf="district.errors.required" i18n="@@valid-required">Field is required</p>
				</div>
				<div class="form-group">
					<label for="city"><ng-container i18n="@@field-tehsil">TEHSIL</ng-container> *</label>
					<input type="text" class="form-control" i18n-placeholder="@@placeholder-tehsil" name="tehsil" placeholder="Tehsil" formControlName="tehsil" />
				</div>
				<div class="error-div" *ngIf="tehsil.errors && (tehsil.dirty || tehsil.touched)" >
					<p *ngIf="tehsil.errors.required" i18n="@@valid-required">Field is required</p>
				</div>
				<div class="form-group">
					<label for="number"><ng-container i18n="@@field-vehicle-type">VEHICAL TYPE</ng-container> *</label>
					<br>
					<select class="selectpicker" name="vehicles" formControlName="vehicleType" >
						<option *ngFor="let type of vehicleTypes" [value]="type.name" >{{type.name}}</option>
					</select>
				</div>
				<div class="form-group">
					<label for="address" ><ng-container i18n="@@field-make-model">MAKE(MODEL)</ng-container></label>
					<input type="text" class="form-control" i18n-placeholder="@@placeholder-make-model" name="model" placeholder="MAKE(MODEL)" formControlName="model" />
				</div>
				<div class="error-div" *ngIf="model.errors && (model.dirty || model.touched)" >
					<p *ngIf="model.errors.required" i18n="@@valid-required">Field is required</p>
				</div>
				<div class="form-group">
					<label for="address"><ng-container i18n="@@field-rc-no">RC NO.</ng-container> *</label>
					<input type="text" class="form-control" i18n-placeholder="@@placeholder-rc-no" placeholder="RC NO." name="rcNo" formControlName="rcNo" />
				</div>
				<div class="error-div" *ngIf="rcNo.errors && (rcNo.dirty || rcNo.touched)" >
					<p *ngIf="rcNo.errors.required" i18n="@@valid-required">Field is required</p>
				</div>
				<div class="form-group">
					<label><ng-container i18n="@@field-signature">SIGNATURE</ng-container> *</label>
					<br>
					<input type="file" id="base-input" class=" form-style-base input100" rah-file-dir (assignValue)="files.signImg = $event;noSign = false;" placeholder="No file selected" accept="image/*" />
				</div>
				<div class="error-div" *ngIf="noSign" >
					<p i18n="@@valid-image">Image is required</p>
				</div>
				<div class="form-group">
					<label><ng-container i18n="@@field-photo">PHOTO</ng-container> *</label>
					<br>
					<input type="file" id="base-input1" class=" form-style-base input100" rah-file-dir (assignValue)="files.vehicleImg = $event;noVehicleImg = false;" placeholder="No file selected" accept="image/*" />
				</div>
				<div class="error-div" *ngIf="noVehicleImg" >
					<p i18n="@@valid-image">Image is required</p>
				</div>
				<div class="form-group">
					<label for="address"><ng-container i18n="@@field-whatsapp-number">WHATSAPP NO/MOBILE NO.</ng-container> *</label>
					<input type="tel" class="form-control" i18n="@@placeholder-your-answer" name="contactNo" placeholder="your answer" i18n-placeholder="@@placeholder-your-answer" formControlName="contactNo" />
				</div>
				<div class="error-div" *ngIf="contactNo.errors && (contactNo.dirty || contactNo.touched)" >
					<p *ngIf="contactNo.errors.required" i18n="@@valid-required">Field is required</p>
					<p *ngIf="contactNo.errors.validMobile" i18n="@@valid-phone-number">Invalid Contact No.</p>
				</div>
				<div class="form-group">
					<label for="address" i18n="@@vehicle-different-whatsapp-no">WHATSAPP NO IS DIFFERNT THEN ANOTHER NO.</label>
					<input type="tel" name="whatsAppNo" i18n-placeholder="@@placeholder-whatsapp-number" class="form-control" placeholder="WhatsApp No" formControlName="whatsAppNo" />
				</div>
				<div class="error-div" *ngIf="whatsAppNo.errors && (whatsAppNo.dirty || whatsAppNo.touched)" >
					<p *ngIf="whatsAppNo.errors.validMobile" i18n="@@valid-phone-number">Invalid Contact No.</p>
				</div>
				<div class="form-group">
					<label for="name" i18n="@@field-purchase-date">PURCHASED DATE</label>
					<br>
					<input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="date" formControlName="date" />
				</div>
				<div *ngIf="!hide" >
					<div class="alert alert-danger" *ngIf="errSuccObj.error" role="alert">{{errSuccObj.error | titlecase }}</div>
					<div class="alert alert-success" *ngIf="errSuccObj.success" role="alert">{{errSuccObj.success | titlecase }}</div>
				</div>
				<button type="submit" id="reg_btn" [disabled]="disabled" class="btn btn-default registration-button" i18n="@@btn-submit">Submit</button>
			</form>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>